/*----------------------------------------------------------------
PROJECT : THE REC ROOM
Author: Cundari Digital
Description:   Global Styles
Created:       29/02/2016
----------------------------------------------------------------*/
/**************************
PARTIALS
***************************/
@import "../less/partials/_header.less";
@import "../less/partials/_footer.less";
/**************************
TEMPLATES begin
***************************/
// GLOBAL ELEMENTS
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
    width: 100%;
    height: 100%;
}
body {
    width: 100%;
    height: 100%;
}

.for-mobile,.for-tablet{
  display:none;
}
.for-mobile-nav{
  display:none !important;
}
// -- shadows
.box-shadow-1{
  box-shadow: 3px 3px 5px 0 rgba(0,0,0,0.20);
}
.box-shadow-2{
  box-shadow: 26px 6px 20px 0 rgba(0,0,0,.75);
}
.box-shadow-inset{
  box-shadow: inset 5px 5px 10px 0px rgba(0,0,0,0.75);
}
.border-1{
  border:8px solid @colorBlack;
}
// other
.spacer-1{
  margin-bottom:10px;
}
.spacer-2{
  margin-top:40px;
}

.main-box-height-1{
  height:400px;
}
.grid-item-w-h{
  width:400px;
  height:400px;
}
.main-box-minHeight-1{
  min-height:400px;
}
.main-box-height-2{
  height:450px;
}
.main-box-minHeight-2{
  min-height:450px;
}
.main-box-height-4{
  height:195px;
}

// -- text
.section-heading{
  border-bottom:1px solid @colorBlack;
  margin:20px 0 40px 0;
  h1{
    color:@colorBlack;
    .f(40);
    .lh(52);
  }
}
.subtext{
  color:@colorOrange;
  .f(16);
  .lh(22);
  margin-bottom:34px;
}
.subtext2{
  .f(14);
  .tucase;
  .posAbs;
  bottom:0;
  color:@colorOrange;
}
a.subtext2:focus, a.subtext2:hover {
  color:@colorOrange;
}
.subtext3{
  .f(14);
  .tucase;
  .font2;
  .bold
}
// -- animation
.hvr-overline-from-right:before, .hvr-underline-reveal:before{
  height:2px;
}


// -- box modules
.boxes-wrap{
  .box{
    margin-bottom:30px;
  }
}
.box{
  transition: all 0s ease;
  width: 100%;
  height:100%;

  .box-content-wrap{
    color:@colorBlack;
    display:block;
    .posRel;
    .box-content{
      padding:32px;
      h2{
        .f(30);
        .lh(30);
        letter-spacing: 2px;
        .tucase;
        max-width:80%;
        margin-bottom:15px;
      }
      .posAbs;
      bottom:0;
    }
    .box-content-nb{
      bottom: 8px;
    }
  }
}

.box-1{
  .border-1;
  .box-shadow-1;
  .main-box-height-1;
  .box-content-wrap{
    .box-shadow-inset;
    height: 100%;
  }
}
.box-nb{
  border:0;
  .box-content-wrap{
    box-shadow:0 0 0 transparent;
  }
}
.box-2{
  .box-shadow-1;
  .main-box-height-1;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: @colorBlack;
  background-position: center;
  width:100%;
  .box-content-wrap{ 
    height: 100%;
  }
  .box-content{
    .transition1;
    opacity: 0;
  }
  width:100%;
  &:hover{
    .box-content{
      opacity: 1;
    }
  }
}
.box-4{
  width:280px;
  height:280px;
  margin: 0 auto;
  img{
    border:4px solid @colorWhite;
    height:100%;
  }
  .box-overlay{
    background:rgba(0,0,0,0.5);
    padding: 0;
    height: 273px;
    width: 273px;
    .posAbs;
    z-index: 2;
    top: 4px;
    left:50%;
    margin-left:-136.6px;
  }
  .box-4-content{
    color:@colorWhite;
    .posAbs;
    z-index: 3;
    width: 280px;
    bottom: 10%;
    text-align: center;
  }
}
.box-6{
  width:205px;
  height:205px;
  margin:0 auto;

  img{
    border:4px solid @colorWhite;
    height:100%;
    width:100%;
    margin:0 auto;
  }
  .box-overlay{
    background:rgba(0,0,0,0.5);
    padding: 0;
    height: 198px;
    width: 198px;
    .posAbs;
    z-index: 2;
    top: 4px;
    left: 50%;
    margin-left:-99px;
  }
  .box-6-content{
    color:@colorWhite;
    .posAbs;
    z-index: 3;
    width: 190px;
    bottom: 10%;
    text-align: center;
  }
}
.box-thm-1{
  &:before{
    background-color:rgba(0,0,0,0.7);
  }
  h2{
    color:@colorWhite;
  }
  p{
    color:@colorWhite;
  }
}
.box-thm-1b{
  h2{
    .f(50) !important;
    .lh(58) !important;
    max-width:100% !important;
  }
}
.box-thm-2{
  background-color:@colorBlack;
  color:@colorWhite;
  .box-content-wrap .box-content{
    h2{color:@colorWhite;}
    p{color:@colorWhite}
  }
}
.box-pattern-bg{
  background-size:cover !important;
}
.box-thm-3{
  background:@colorBlack;
  color:@colorWhite;
  h2{color:@colorWhite}
  h3{color:@colorOrange;}
  p{color:@colorWhite}
}
.box-thm-4{
  background:@colorOrange;
  color:@colorWhite;
  .box-content-wrap .box-content{
    h2{color:@colorWhite;}
    p{color:@colorWhite}
  }
}
.box-5{
  .border-1;
  .box-shadow-1;
  min-height: 332px;
  .box-content-wrap{
    .box-shadow-inset;
    height: 100%;
    padding:22px;
  }
  table{
    width:100%;
    .f(16);
  }
}
.box-small{
  height: 195px;
  margin-bottom: 10px;
  background:red;
  .box-small-content{
    .posRel;
    height:100%;
    .box-small-img{
      background-size:cover;
      width:50%;
      height:100%;
      float:left;
    }
    .box-small-text{
      float:left;
      background:@colorWhite;
      color:@colorBlack;
      width:50%;
      height:100%;
      .posRel;
      padding:10px;
      .box-small-text-content{
        h2{
          .f(30);
          .lh(30);
          .noMarginBottom;
        }
        p{
          .font2;
        }
        .posAbs;
        width:100%;
        bottom:0;
      }
    }
  }
  &:nth-child(2) {
    margin-bottom: 0;
  }
}
.box-borders{
  .border-1;
}
// ####  HOME PAGE
.home-slide-1{
  .col-md-4{
    padding-right:0;
  }
}
.home-slide-1-b{
  .col-md-4{
    padding-right:0;
  }
}
.home-slide-2{
  .main-container {
    padding: 10px 15px;
  }
  .carousel-indicators {
    bottom: 0;
  }
  .carousel-control.right,
  .carousel-control.left {
    background-color: rgba(0,0,0,0.4);
    width: 50px;
    .transition1;
  }
  .carousel .item {
    .main-box-minHeight-1;
    height: 100%;
    width:100%;
    background:@colorBlack;
    img{
      opacity: 0.3;
    }
  }
  .carousel-caption{
    padding-bottom: 0;
    bottom: 35%;
    h3 {
      margin-bottom:8px;
      .f(30);
      .f(30);
    }
    h4{
      .f(50);
      .lh(50);
      margin-bottom: 20px;
    }
  }
  .carousel .icon-container {
    display: inline-block;
    font-size: 25px;
    line-height: 25px;
    padding: 1em;
    text-align: center;
    border-radius: 50%;
  }
  .carousel-caption button {
    border-color: #00bfff;
    margin-top: 1em;
  }

  /* Animation delays */
  .carousel-caption h3:first-child {
    animation-delay: 1s;
  }
  .carousel-caption h3:nth-child(2) {
    animation-delay: 2s;
  }
  .carousel-caption button {
    animation-delay: 3s;
  }
  .carousel-control:focus, .carousel-control:hover{
    opacity:1;
  }
  .carousel-indicators li {
    display: inline-block;
    width: 16px;
    height: 15px;
    border: 3px solid rgba(255,255,255,0.4);
    border-radius: 0;
  }
  .carousel-indicators .active {
    margin:1px !important;
    background-color:@colorOrange;
  }


  h1 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: bold;
  }

  .p {
    padding-top: 125px;
    text-align: center;
  }

  .p a {
    text-decoration: underline;
  }
}
.home-slide-3{
  .home-slide-3-content{
    background-color:@colorBlack;
    background-size:cover;
    background-image:url('../../img/fpo/home-slide-3.jpg');
  }
  .home-slide-3-content,.box-3,.box-content-wrap{
    .main-box-minHeight-2;
  }
  .individual-graphic{
   .main-box-height-2;
   display: block;
   background-repeat: no-repeat;
   background-position: bottom center;
   background-size: 70% auto;
 }
}
// HOME PAGE GRID
.home-grid{
  /* clear fix */
  .col-md-4{
    margin-bottom:10px;
  }
  .grid:after {
    content: '';
    display: block;
    clear: both;
  }
  /* ---- .grid-item ---- */
  .grid-item {
    float: left;
    .grid-item-w-h;
    background: #0D8;
    .box-shadow-1;
    margin-bottom:10px;
    border-color: hsla(0, 0%, 0%, 0.7);
    .box-2{
      .main-box-height-1;
      background-position:0 0;
      background-size:contain;
      .box-content-nb{
        bottom: auto;
        top:0;
      }
    }
  }

  .grid-item,
  .grid-sizer {
    width: 100%;
  }
  .gutter-sizer {
    width: 0;
  }
  .grid-sizer,
  .gutter-sizer {
    position: absolute;
    opacity: 0;
    visibility: hidden;
  }
  @media (min-width: 768px) {
    .grid-item,
    .grid-sizer {
      width: 47.91666667%;
    }
    .gutter-sizer {
      width: 4.16666667%;
    }
  }
  @media (min-width: 992px) {
    .grid-item,
    .grid-sizer {
      width: 31.20567376%;
    }
    .gutter-sizer {
      width: 2.59148936%;
    }
  }
  @media (min-width: 1200px) {
    .grid-item,
    .grid-sizer {
      width: 23.02631579%;
    }
    .gutter-sizer {
      width: 2.3%;
    }
  }

}




// EVENTS PAGE
// -- events list
.events-select{
  width: 40%;
  position: absolute;
  right: 14px;
  text-align: right;
  .nav .open>a, .nav .open>a:focus, .nav .open>a:hover{
   background:none;
 }
 .yamm {
  .nav.navbar-nav{
    float:right;
    text-align: right;
    width:100%;
    .dropdown{
      width: 100%;
      text-align:right;
      float:right;
      .dropdown-menu{
        width: 100%;
      }
      &.open{
        .dropdown-toggle{
          color:@colorOrange;
        }
      }
    }
  }
  .nav>li>a{
    color:@colorBlack;
  }
  .nav>li>a:focus, .nav>li>a:hover,.nav>li>a:focus, .nav>li>a:hover{
    color:@colorBlack;
    background:none;
  }
}
}
.event-filters{
  color:@colorBlack;
  .f(15);
}
.event-list{

  background:@colorWhite;
  padding:20px 25px 10px 25px;
  margin-bottom:20px;
  .event-date{
    padding-top:35px;
    .posRel;
    z-index:1;
    span{
      .f(17);
      .lh(22);
      margin-bottom:15px;
      display:block;
      .font2;
      font-weight:800;
    }

  }
  .event-img{
    .posRel;
    z-index:0;
    img{
      width: 100%;
      max-width: 250px;
      margin-bottom: 10px;
    }
  }
  .event-details-wrap{
    h3{
      margin-bottom:30px;
      .f(26);
      .lh(32);
      .font2;
      font-weight:800;
      a{color:@colorBlack;}
    }
    .event-details{
      min-height: 65px;
      .subtext2{
        color:@colorOrange;
      }
      .subtext2:hover{
        color:@colorOrange !important;
      }
      ul{
        .nolt;
        .noPaddingLeft;
        margin-left: 15px !important;
        display:inline-block;
        margin-bottom:20px;
        li{
          display:inline-block;
          margin-right: 7px;
          margin-bottom: 15px;
        }
      }
      .fa{
        background: #333;
        padding: 5px;
        border-radius: 100%;
        color: #fff;
        width: 22px;
        text-align: center;
        display: inline-block;
        height: 22px;
      }
    }
  }
}


// -- widgets
.widget{
  background:@colorWhite;
  padding:20px;
  .box-shadow-1;
  max-width: 276px;
  .marginBot20;
  width:100%;
}
.tagcloud{
  .font2;
  a{
    .f(12);
    .text-center;
    margin-bottom:5px;
    background:@colorGray;
    color:@colorBlack;
    padding:5px 10px;
    display:inline-block;
    margin-right:5px;
    .transition2;
    &:hover{
      background:@colorOrange;
      color:@colorWhite;
    }
  }
}


.vSprev,.vSnext{
  background:@colorGray2;
  border:0;
  width: 280px;
  color:@colorWhite;
  &::after{
    content:'\f106';
    .font3;
    color:@colorWhite;
    display:block;
    .text-center;
  }
  padding:5px;
}
.vSnext{
  &::after{
    content:'\f107';
  }
}

#ios ul { display: none; }
#ios li:hover ul { display: block; }

.vertical-slider-wrap{
  .vertical-carousel{
    max-width: 280px;
    .nolt;
    .noMarginLeft;
    .noPaddingLeft;
    li{
      padding:20px 0 20px 0;
      border-top:2px solid @colorOrange;
      min-height:30px;
      h3{
        font-size: 15px;
        line-height: 20px;
        margin-bottom: 0;
      }
      p{
        font-size: 12px;
        line-height: 19px;
      }
      a{
        color:@colorOrange;
        .bold;
      }
    }
  }
  .vs-img{
    width: 30%;
    float: left;
    padding-left: 20px;
  }
  .vs-content{
    width: 66%;
    float: left;
    display: inline-block;
    margin-left: 10px;
    padding-right: 30px;
  }

}

/**************************
RESTAURANT DETAILS
***************************/

img.restaurant-hero {
  width: 100%;
}
.restaurant-menu {
  // border: 1px solid red;
  // padding: 20px !important;
  h3.menu-header {
    text-transform: capitalize;
    padding: 10px 0;
  }
  .menu-item-wrapper p {
    margin-bottom: 0;
    font-size: 14px;
  }
  .menu-item-wrapper {
    padding: 0 20px 15px 0;
  }
  .menu-img-wrapper {
    padding: 20px 10px 20px 0;
    box-sizing: border-box;
    img {
      width: 100%;
    }
  }
}

.carousel-menu-wrapper {
  .carousel-slide-wrap {
    margin-left: 15px;
    height: 205px;
    .slide-carousel-prev {
      left: -15px;
    }
    .slide-carousel-next {
      right: -10px;
    }
  }
}

// FULL PAGE AD

.full-width-ad-wrapper, .full-page-ad-wrapper  {
  margin: 15px auto;
  position: relative;
  height: 250px;
  // padding: 0 5px;
  img {
    width: 100%;
  }
  .close {
    position: absolute;
    z-index: 2;
    right: 10px;
    top: 10px;
    opacity: 0.8;
  }
}
.full-page-ad, .full-width-ad {
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.full-width-ad {
  height: 250px;
}
.full-page-ad-wrapper,
    .full-page-ad {
      height:100vh;
      overflow: hidden;
    }

.full-page-ad-wrapper {
  // added to compensate for the nav
  margin-top: -210px;
  padding-top: 210px;
  overflow: hidden;
}
/**************************
TEMPLATES end
***************************/
@import "../less/modules/_mediaqueries.less"; // media queries - if needed