/**************************
PROJECT : THE REC ROOM
MODULE : FOOTER
***************************/
.share-widget{
    position:fixed;
    left:0;
    bottom:0
}
.sharethistxt{
    .font2;
    .posRel;
    top:-3px;
}
footer{
    hr{
        border-top:1px solid #333;
        background:transparent;
        height:1px;
        width: 97.4%;
    }
    background:@colorBlack2;
    color:@colorWhite;
    padding-top:46px;
    .font2;
    .footer-nav{
        .col-md-4{
            ul{
                .nolt;
                .noMarginLeft;
                .noPaddingLeft;
                li{
                    display:block;
                    margin-right: 15px;
                    margin-bottom:5px;
                    a{
                        color:@colorWhite;
                    }
                }
            }
        }
    }
    .footer-form{
        float:right;
        text-align:right;
        input[type="text"]{
            width: 50%;
            padding: 9px 9px 10px 9px;
            background:@colorWhite;
            color:@colorBlack;
            .f(11);
            .lh(11);
            .font2;
        }
        .checkbox-wrap{
            float:right;
            input[type="checkbox"]{
                .posRel;
                top: 3px;
            }
            label{
                .font2;
                .normal;
                .f(14);
                .lh(21);
            }
            input[type=checkbox]+label:before, input[type=radio]+label:before {
                width: 15px;
                height: 15px;
                margin-top: 2px;
                margin-right: 7px;
            }
        }
    }
    .footer-disclaimer{
        padding:10px 0;
        color:@colorWhite;
        background:@colorBlack;
        .text-center;
        .f(11);
    }
    .social-icons{
        margin-left: 0;
        margin-bottom:8px;
        .nolt;
        .f(29);
        li{
            display: inline-block;
            margin-right: 15px;
        }
        a{
            color:@colorWhite;
        }
    }
    .logo{
        a{
            display: block;
            width: 100px;
            margin-bottom:20px;
            img{
                width:100%;
            }
        }
    }
    .footer-app-icons{
        float:right;
        text-align: right;
    }
}
