/**************************
PROJECT : THE REC ROOM
MODULE : HEADER
***************************/
/**************************
imports
***************************/
@import "../imports.less";
/***************************/
header{

    .nav .open>a, .nav .open>a:focus, .nav .open>a:hover{
    background:@colorOrange;
    color:@colorWhite !important;
    }
    nav ul li.open a{
      color:@colorWhite;
    }
    //margin-bottom:40px;
    .header-utility-bar{
        background:@colorBlack;
        height:50px;
        padding-top: 17px;
        .font2;
        color:@colorWhite;
        font-size:12px;
        letter-spacing: 0.3px;
        a{
            color:@colorWhite;
        }
        .fa{
            color:@colorOrange;
        }
        .header-sm-icons{
            a{
                color:@colorOrange;
                .f(21);
                .lh(21);
                margin-right: 11px;
            }
        }
    }
    .change-loc-dd{
        margin-top: 16.3px;
        background: @colorOrange;
    }
    .menu-change-loc.open a.menu-change-loc-a{
        color:@colorOrange !important;
    }
    .header-main{
        padding:25px 0;
        background:transparent;
    }
    nav{
        float: right;
        .f(18);
        ul.main-nav-ul{
            .list-inline;
            padding-top: 44px;
            li.main-nav-li{
                .posRel;
                padding:0;
                a.main-nav-li-a{
                    padding:15px 10px;
                    .transition2;
                    color:@colorBlack;
                }
                a:hover
                {color:@colorWhite;}
            }
        }
    }
     .nav>li>a:focus, .nav>li>a:hover{
        background:transparent;
     }
     #navbar{
        .noMarginRight;
        .noPaddingRight;
     }
     .nav>li>a{
                padding-left:0;
                padding-right:0;
     }
      .navbar-nav>li>.dropdown-menu {
          margin-top: 0px;
          border-top-right-radius: 0;
          border-top-left-radius: 0;
          padding-top: 10px;
          padding-bottom: 10px;
      }
      .dropdown-menu{
        left: 0px;
        border:0;
        border-radius:0 0 0 0;
          padding-top:0;
        box-shadow:0 0 0 transparent;
      }




      .dropdown-submenu {
          position: relative;
      }

      .dropdown-submenu>.dropdown-menu {
          top: 0;
          left: 100%;
          margin-top: 0;
          margin-left: -1px;
      }

      .dropdown-submenu:hover>.dropdown-menu {
          display: block;
      }

      .dropdown-submenu>a:after {
          display: block;
          float: right;
          width: 0;
          height: 0;
          color:@colorWhite;
          margin-top:0px;
          margin-right:0;
          content:'\f105';
          .font3;
      }

      .dropdown-submenu:hover>a:after {
      }

      .dropdown-submenu.pull-left {
          float: none;
      }

      .dropdown-submenu.pull-left>.dropdown-menu {
          left: -100%;
          margin-left: 10px;

      }


    .bgOrange{
        background:@colorOrange;
        li a{
          color:@colorWhite;
        }
    }
    .bgBlue{
        background:@colorBlue;
        li a{
          color:@colorWhite;
          .fa{
            float:right;
            margin-top:3px;
          }
        }
    }
    .bgPrimary{
        background:@primaryMenuColour;
        li a{
          color:@colorWhite;
          &:hover,
          &:focus,
          &:active {
            background:@secondaryMenuColour;
          }
        }
    }
    .bgSecondary{
        background:@secondaryMenuColour;
        li a{
          color:@colorWhite;
          &:hover,
          &:focus,
          &:active {
            background:@tertiaryMenuColour;
          }
        }
    }
    .bgTertiary{
        background:@tertiaryMenuColour;
        li a{
          color:@colorWhite;
        }
    }

    .dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover, .loc-selected {
        text-decoration: none;
        color: @colorWhite;
        // background-color: @colorGray2;
    }



  }

  .caret{
    border:0;
    background:transparent;
  }

#searchboxwrap{
  .posRel;
  top:-20px;
}
.searchbardiv{
    display: block;
    position: fixed;

    top: 50px;
    right: 0px;
    z-index: 1001;
    width: 100%;
    max-width: 100%;
    padding: 10px;
    margin: 0px;
    .form-control{
      height:25px;
    }
}
.buttonsearch{
    position: relative;
    top:0px;
    background-color: transparent;
    border: 0px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    color:@colorWhite;
    .transition3;
    &:hover{
      background:transparent !important;
      color:@colorOrange;
    }
}
.buttonsearch:hover{
  color:@colorOrange;
    background:transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border: 0px;

}
.buttonsearch:focus{
  color:@colorWhite;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border: 0px;

}
  .buttonsearch{
      background:transparent !important;
      .openclosesearch{color:@colorBlack;}
      &:hover .openclosesearch{
          color:@colorOrange;
      }
  }
#formsearch{
    display: none;
    position: relative;
    top: -14px;
    z-index:0;
}
.glyphicon.glyphicon-search {
    font-size: 18px;
}
#searchbox {
    padding: 14px 10px 15px 10px;
    position: relative;
    top: 0px;
    box-shadow: none;
    min-width: 26%;
    width:100%;
    max-width:300px;
    display:inline-block;
    float:right;
    margin-right:10px;
}
#searchbox:hover {
    box-shadow: none;
}

.form-control:focus {
    border-color: #ccc;
    }



.navbar-toggle {
  border: none;
  background: transparent !important;
}
.navbar-toggle:hover {
  background: transparent !important;
}
.navbar-toggle .icon-bar {
  width: 22px;
  transition: all 0.2s;
}
.navbar-toggle .top-bar {
  transform: rotate(45deg);
  transform-origin: 10% 10%;
}
.navbar-toggle .middle-bar {
  opacity: 0;
}
.navbar-toggle .bottom-bar {
  transform: rotate(-45deg);
  transform-origin: 10% 90%;
}
.navbar-toggle.collapsed .top-bar {
  transform: rotate(0);
}
.navbar-toggle.collapsed .middle-bar {
  opacity: 1;
}
.navbar-toggle.collapsed .bottom-bar {
  transform: rotate(0);
}

header .navbar-nav>li.main-nav-li{
  .transition2;
  &:hover{
  .main-nav-li-a{
    color:@colorWhite;
  }
  background:@colorOrange;
  }
}
header .navbar-nav>li:hover>.dropdown-menu {
  display: block;
}
header .navbar-nav>li:hover{

 }
 .dropdown-menu>li>a {
  padding: 8px 20px;
}
