/**************************
PROJECT : THE REC ROOM
MODULE : BASE
***************************/

body{
	.font1;
	background-color:@colorGray;
    background-repeat:repeat;
	overflow-x:hidden;
	.f(13);
}
.link{
    color:@colorOrange;
    &:hover{
        color:@colorWhite;
    }
}
.link-wht{
    color:@colorWhite;
    &:hover{
        color:@colorWhite;
    }
}
.container {
	max-width: 1280px !important;
	margin: 0 auto !important;
}
a,a:active,a:focus,a:hover,a:visited,button{
	outline:none !important
}
a:active,a:focus,a:hover{
	.tdnone;
}

#content article ul{
	padding-left:15px;
	margin-bottom:15px;
}
.wborder{
	border-bottom:1px solid @colorBlack;
	padding-bottom:5px;
	display:block;
	margin-bottom: 31px;
}
h1,h2,h3,h4,h5{margin:0px 0 5px 0;.font1;.bold;.tucase;}
h1{
	.f(50);
	.lh(58);
}
h2{
	.f(30);
	.lh(38);
}
h3{
	.f(20);
	.lh(28);
}
h4{
	.f(24);
	.lh(30);
}
p{
	.font2;
	.f(16);
	.lh(24);
}
.small-txt{
	.f(12);
	.lh(16)
}
.fadeIn {
    -webkit-animation-name: fadeIn;
    -moz-animation-name: fadeIn;
    -o-animation-name: fadeIn;
    animation-name: fadeIn;
}
.animated {
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    -ms-animation-duration: 1s;
    -o-animation-duration: 1s;
    animation-duration: 1s;
    visibility: visible !important;
}
.colorBoxWrap{
	display:inline-block;
	width: 32%;
	height: 69px;
	margin-left: 5px;
	margin-right: 5px;
}
.carousel-slide-wrap{
	height:282px;
	.posRel;
	margin-left:25px;
	 .slide-carousel-prev,.slide-carousel-next{
	 	cursor: pointer;
	 	.box-shadow-1;
	 	display:block;
	 	width: 40px;
	 	.posAbs;
	 	background:@colorGray2;
	 	// padding:13px 0;
	 	color:@colorWhite;
	 	z-index:3;
		top: 50%;
		height:40px;
		.text-center;
		margin-top: -20px;
	 	&:after{
	 		color:@colorWhite;
	 		.font3;
	 		.f(20);
	 		.lh(40);
	 		.posRel;
	 		left:2px;
	 	}
	 }
	 .slide-carousel-prev{
		left:-30px;
		&::after{
			content:'\f104';
	 		left:0px;
		}
	 }
	 .slide-carousel-next{
	 	right:0;
		&::after{
			content:'\f105';
		}
	 }
}
.colorBoxWrap:last-child{
	.noMarginRight;
}
.colorBox{
	display: block;
	width:100%;
	height:100%;
	margin-bottom: 30px;
}
.colorBoxOrange{
	background-color:@colorOrange;
}
.colorBoxBlack{
	background-color:@colorBlack;
}
.colorBoxGray{
	background-color:@colorGray2;
}

// -- butons
.btn{
    .font2;
    .text-center;
    .f(16);
    .bold;
    .tucase;
    border: 3px solid @colorBlack;
    border-radius: 0;
    padding: 12px 40px;
    color:@colorBlack;
    &:hover{
        border-color:@colorOrange;
    }
    &:active{
        border-color:@colorBlack;
    }
    &:focus{
        border-color:@colorBlack;
    }
    &.hvr-bounce-to-bottom:active:before{
        background-color:@colorBlack;
        color:@colorWhite;
        border: 3px solid @colorBlack;
    }
    &.hvr-bounce-to-bottom:focus:before{
        background-color:@colorBlack;
        color:@colorWhite;
        border: 3px solid @colorBlack;
    }
}

.btn-wht{
    padding:13px 40px;
    color:@colorWhite;
    border:3px solid @colorWhite;
    &:hover{
    	border-color:@colorGray2;
    	background-color:@colorWhite;
    }
    &:active{
    	border-color:@colorWhite;
    	background-color:@colorWhite;
    	color:@colorBlack;
    }
    &:focus{
    	border-color:@colorWhite;
    	background-color:@colorWhite;
    	color:@colorBlack;
    }
    &.hvr-bounce-to-bottom:before{
        background-color:@colorGray2;
    }
    &.hvr-bounce-to-bottom:hover:before{
        background-color:@colorGray2;
        color:@colorWhite;
    }
    &.hvr-bounce-to-bottom:active:before{
        background-color:@colorWhite;
        color:@colorBlack;
        border: 3px solid @colorWhite;
    }
    &.hvr-bounce-to-bottom:focus:before{
        background-color:@colorWhite;
        color:@colorBlack;
        border: 3px solid @colorWhite;
    }
}
.btn-gray{
    background:@colorGray2;
    color:@colorWhite;
    border-color:@colorGray2
}
.btn-blk{
    border:0;
    background:@colorBlack;
    color:@colorWhite;
    padding: 5px 32px;
    .f(15);
    &:hover{
        color:@colorWhite;
    }
}
.btn-blk2{
    background: transparent;
    color: @colorWhite;
    border-color: @colorWhite;
    padding:8px 50px;
    .f(10);
}
.btn-2{
	.f(11);
}
.btn-3{
	.f(11);
	 padding: 5px 20px;

}
.cta-app-store{
    margin-right:20px;
    display: inline-block;
    .transition8;
    img{
        width:100%;
    }
    &:hover{
        .box-shadow-1
    }
}

// input fields
.form-control{
	border-radius:0 0 0 0;
	box-shadow: inset 0 0px 0px rgba(0,0,0,.075);
}

.colorOrange{
    color:@colorOrange !important;
}

.pagination {
    width:100%;
    .text-center;
	li{
        display:inline-block;
		a{
			.f(14);
			border-radius:0 !important;
			color:@colorGray2;
			text-align:center;
		    padding: 15px;
		    width: 48px;
		    margin-right: 6px;
		    border: 1px solid @colorGray2;
		    .transition2;
			&:hover,&:focus{
				background-color:@colorOrange;
				color:@colorWhite;
			}
		}
	}
	.active{
		a{
		background:@colorBlack;
		color:@colorWhite;
			&:hover,&:focus{
				background-color:@colorOrange;
			}
		}
	}
}



.form{
    .parsley-error-list,
    .parsley-errors-list {
      width: 100%;
      list-style-type: none;
      background-repeat: no-repeat;
      margin-top: 0px;
      padding-top: 5px;
      background-position: 10px 0;
      font-family: 'HelveticaNeueW01-45Ligh', sans-serif;
      padding-left: 0px !important;
    }
    .parsley-error-list li,
    .parsley-errors-list li {
      background: #666;
      max-width: 100%;
      color: #ffffff;
      text-decoration: none;
      list-style-type: none;
      padding: 10px;
      font-size: 10px;
      line-height: 11px;
      font-family: 'HelveticaNeueW01-45Ligh', sans-serif;
      font-weight: normal !important;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      border-radius: 0px;
      margin-bottom: 1px;
    }
    .lbl-hidden{display:none;}
    input[type="text"].form-control,input[type="email"],input[type="tel"],.select-form-control
    {
        height:48px;
        border:1px solid #777;
        background-color:rgba(255,255,255,0.4);
        width: 100%;
        padding: 10.5px 20px 10.5px 20px;
        font-size: 14px;
        line-height: 23px;
        color: #a2a2a2;
        transition: background-color 1s;
        text-transform: uppercase;
        border: 1px solid #ccc;
    }
    input:-webkit-autofill {
        background-color: #fff !important;
        color: #444 !important;
    }
    input[type="text"].form-control:hover,input[type="email"]:hover,input[type="tel"]:hover,.chosen-container:active,
    input[type="text"]:focus,input[type="email"]:focus,input[type="tel"]:focus,.chosen-container:active{
        background-color: #fff;
        color: #444;
    }
    input[type="submit"]{
        transition:all 0.5s;
        cursor:pointer;
    }
    input[type="submit"]:focus,input[type="submit"]:hover{
        background-color:#555;
        color:#fff
    }
    ::-webkit-input-placeholder{
        color: #a2a2a2;
    }
    .form-row{
        margin-bottom:25px;
    }
    .chosen-container-single .chosen-single,.chosen-container-active.chosen-with-drop .chosen-single{
        border-radius: 0 !important;
        background-image:none;
        background-color:rgba(255,255,255,0.4);
        width: 100%;
        padding: 10px 20px 10px 20px;
        font-size: 14px;
        line-height: 26px;
        height:45px;
        box-shadow: 0 0 0 transparent;
        color: #444;
        transition:background-color 1s;
        text-transform: uppercase;
        border: 1px solid #e2e2e2;
        span{
            color:#a2a2a2;
            text-transform: uppercase;
            margin-right:0;
        }
    }
    .chosen-container-active span{
        color:#444 !important;
    }
    .chosen-container-single .chosen-single div{
        top: 12px;
        right: 15px;
    }
    .select-col-size-full{
        width:300px;
    }
    .select-col-size-m{
        width:175px;
    }
    .select-col-size-sm{
        // width:146px;
        width:207px;
    }
    .select-col-size-xsm{
        width:149px !important;
    }

    .input-mid{
        input[type="text"],input[type="tel"],input[type="email"],.styled-select{
            requesttd width:145px
        }
        .parsley-error-list,
        .parsley-errors-list {
          width: 146px;
          display:inline-block;
         }
    }
    .input-xs{
        input[type="text"],input[type="tel"],input[type="email"],.styled-select{
            width:233px
        }
    }
    input[type="text"].parsley-error,input[type="email"].parsley-error,input[type="tel"].parsley-error{
        border:1px solid @colorOrange;
        color:@colorOrange;
    }
    input[type="text"].parsley-success,input[type="email"].parsley-success,input[type="tel"].parsley-success{
        border:1px solid @colorBlack;
        color:@colorBlack;
    }

    label{
        .font2;
        .f(16);
        .lh(24);
        .normal;
        color:@colorGray2;
        .tucase;
    }

    .icon-error:after{
        content:'\f00d';
        font-size:20px;
        line-height: 20px;
        .font3;
        color:@colorOrange;
        text-align:right;
    }

}
    .smcheckbox label, .smradio label{
        .f(12);
        .noPaddingLeft;
    }

    // CHECKBOXES  RADIO BUTTONS
    .checkbox,
    .radio {
        /* Enable absolute positioning of the hidden form controls */
        position:relative;
        /* Just a bit of space. */
        margin-bottom:0.5em;
        /*
        Match line-height to the height of the replacement image to ensure it
        doesn't get clipped
        */
        line-height:22px;
    }
    fieldset :last-child {
        margin-bottom:0;
    }
    /*
    Position and hide the real checkboxes and radio buttons.
    The inputs are made transparent instead of completely hidden to preserve
    clickability in browsers that don't have clickable labels, like Safari for
    iOS 5 and older.
    */
    input[type="checkbox"],
    input[type="radio"] {
        position:absolute;
        /* Match the image dimensions */
        width:22px;
        height:22px;
        /* Reset anything that could peek out or interfere with dimensions */
        overflow:hidden;
        margin:0;
        padding:0;
        border:0;
        outline:0;
        opacity:0;
    }
    /*
    Insert a pseudo element inside each label and give it a background
    image that will become the custom checkbox or radio button.
    Using inline-block lets you use vertical-align to adjust it vertically
    as needed.
    */
    input[type="checkbox"] + label:before{
        display:inline-block;
        width:22px;
        height:22px;
        margin-right:4px;
        border: 1px solid #ccc;
        background-color: rgba(255,255,255,.4);
        content:" ";
        transition: background-color 1s;
        vertical-align:top;
        color:@colorWhite;
    }
    input[type="radio"] + label:before {
        border-radius: 100px;
        display:inline-block;
        width:22px;
        height:22px;
        margin-right:4px;
        border: 1px solid #ccc;
        background-color: rgba(255,255,255,.4);
        content:" ";
        transition: background-color 1s;
        vertical-align:top;
    }


.icon-error,.icon-success{
display:none;
}
.parsley-invalid .icon-error{
display:block;
}
