/**************************
PROJECT : THE REC ROOM
MODULE : ClASSES
***************************/
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden}
.clearfix{/*IE needs layout*/zoom:1}
.clearfix:before,.clearfix:after{content:"";display:table;}
.clearfix:after{clear:both;}
.noMargin{margin:0px!important}
.vhidden{visibility:hidden}
.noMarginTop{margin-top:0px!important}
.noMarginLeft{margin-left:0px!important}
.noMarginRight{margin-right:0px!important}
.noMarginBottom{margin-bottom:0px!important}
.marginBot5{margin-bottom:5px!important}
.marginBot10{margin-bottom:10px!important}
.marginBot20{margin-bottom:20px!important}
.marginBot30{margin-bottom:30px!important}
.marginBot40{margin-bottom:40px!important}
.marginBot50{margin-bottom:50px!important}
.marginTop20{margin-top:20px!important}
.marginTop30{margin-top:30px!important}
.marginTop40{margin-top:40px!important}
.marginTop50{margin-top:50px!important}
.marginTop100{margin-top:100px!important}
.paddingBot20{padding-bottom:20px!important}
.paddingTop20{padding-top:20px!important}
.paddingTop30{padding-top:30px!important}
.paddingTop40{padding-top:40px!important}
.noPadding{padding:0px!important}
.noPaddingTop{padding-top:0px!important}
.noPaddingLeft{padding-left:0px!important}
.noPaddingRight{padding-right:0px!important}
.noPaddingLeftRight,.colnopad{padding-left:0px;padding-right:0px!important}
.noPaddingBottom{padding-bottom:0px!important;}
.posRel{position: relative !important}
.posAbs{position: absolute !important}
.bold{font-weight:bold !important;}
.normal{font-weight:normal !important;}
.medium{font-weight:500 !important;}
.left{float:left;}
.right{float:right;}
.shadow1{/*text-shadow: 1px -1px 2px #4ecbe2*/}
.shadow2{/*text-shadow: 1px 1px 10px #333;*/}
.tdnone{text-decoration: none}
.tsnone{text-shadow:0 0 0 transparent !important;}
.tucase,.ucase{text-transform: uppercase}
.tunormal{text-transform: none}
.tcenter{text-align:center}
.tright{text-align:right}
.titalic{font-style:italic;}
.nolt{list-style-type: none}
.noBoxShadow{-webkit-box-shadow: 0 0 0 transparent;-moz-box-shadow: 0 0 0 transparent;;box-shadow:0 0 0 transparent;}
.noBorder{border:0 !important}
.gradient1{background: #006f53; /* Old browsers */background: -moz-linear-gradient(top, #006f53 0%, #005842 100%); /* FF3.6+ */background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#006f53), color-stop(100%,#005842)); /* Chrome,Safari4+ */background: -webkit-linear-gradient(top, #006f53 0%,#005842 100%); /* Chrome10+,Safari5.1+ */background: -o-linear-gradient(top, #006f53 0%,#005842 100%); /* Opera 11.10+ */background: -ms-linear-gradient(top, #006f53 0%,#005842 100%); /* IE10+ */background: linear-gradient(to bottom, #006f53 0%,#005842 100%); /* W3C */filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#006f53', endColorstr='#005842',GradientType=0 ); /* IE6-9 */}
.gradient2{background: #00725a; /* Old browsers */background: -moz-radial-gradient(center, ellipse cover, #00725a 0%, #00543b 100%); /* FF3.6+ */background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#00725a), color-stop(100%,#00543b)); /* Chrome,Safari4+ */background: -webkit-radial-gradient(center, ellipse cover, #00725a 0%,#00543b 100%); /* Chrome10+,Safari5.1+ */background: -o-radial-gradient(center, ellipse cover, #00725a 0%,#00543b 100%); /* Opera 12+ */background: -ms-radial-gradient(center, ellipse cover, #00725a 0%,#00543b 100%); /* IE10+ */background: radial-gradient(ellipse at center, #00725a 0%,#00543b 100%); /* W3C */filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00725a', endColorstr='#00543b',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */}
.transition1{-webkit-transition:opacity .5s ease-in-out;-moz-transition:opacity .5s ease-in-out;-ms-transition:opacity .5s ease-in-out;-o-transition:opacity .5s ease-in-out;transition:opacity .5s ease-in-out;}
.transition1b{-webkit-transition:opacity .8s ease;-moz-transition:opacity .8s background;-o-transition:opacity .8s ease;-ms-transition:opacity .8s ease;transition:opacity .8s ease;}
.transition2{-webkit-transition:background-color .2s ease-in-out;-moz-transition:background-color .2s ease-in-out;-ms-transition:background-color .2s ease-in-out;-o-transition:background-color .2s ease-in-out;transition:background-color .2s ease-in-out;}
.transition3{-webkit-transition:color .2s ease-in-out;-moz-transition:color .2s ease-in-out;-ms-transition:color .2s ease-in-out;-o-transition:color .2s ease-in-out;transition:color .2s ease-in-out;}
.transition4{-webkit-transition:background-image .5s ease-in-out;-moz-transition:background-image .5s ease-in-out;-ms-transition:background-image .5s ease-in-out;-o-transition:background-image .5s ease-in-out;transition:background-image .5s ease-in-out;}
.transition5{-webkit-transition: -webkit-filter .3s ease-in;-moz-transition: filter .3s ease-in;-ms-transition: filter .3s ease-in;-o-transition: filter .3s ease-in;transition: filter .3s ease-in;}
.transition6{transition: padding-bottom .3s;-moz-transition: padding-bottom .3s;-webkit-transition: padding-bottom .3s; -o-transition: padding-bottom .3s;-ms-transition: padding-bottom .3s;}
.transition7{-webkit-transition:image .2s ease-in-out;-moz-transition:image .2s ease-in-out;-ms-transition:image .2s ease-in-out;-o-transition:image .2s ease-in-out;transition:image .2s ease-in-out;}
.transition8{transition: box-shadow .6s;-moz-transition: box-shadow .6s;-webkit-transition: box-shadow .6s; -o-transition: box-shadow .6s;-ms-transition: box-shadow .6s;}
.transition9{transition: filter .6s;-moz-transition: filter .6s;-webkit-transition: filter .6s; -o-transition: filter .6s;-ms-transition: filter .6s;}
.vaCenterWrap{height:100%;display:table;}
.vaCenter {display:table-cell;vertical-align: middle;float:none;}
.centeredBlock{margin-left: auto !important;margin-right: auto !important;display:table;}
.sectionBreak{margin-bottom:60px !important;}
.sectionBreakPad{padding:60px 0;}
.sectionBreakPad2{padding:30px 0;}
.sectionBreak2{margin-bottom:30px !important;}
.sectionBreak3{margin-bottom:40px !important;}
.shadowForNav{height: 13px;margin-top: -13px;}
.imgLeft{.left;margin:10px 10px 10px 0;}
.imgRight{.left;margin:10px 0px 10px 10px;}
.dividerb{border-top:1px solid @colorGray;height:1px;}
.subNavBreak .dividerb{width:98.5%}
.disnone{display:none}
.menu .disnone{display:none !important}
.hideDisqus{background-color: #ffffff ;.posRel; z-index:3; height:30px;margin-top:-35px;}
// form validation classes
.parsley-error-list{width:100%;.nolt;background-repeat:no-repeat;margin-top:0px;padding-top: 5px;background-position: 10px 0;.font1;.noPaddingLeft;}
.parsley-error-list li{background:#333;max-width:100%;color:@colorWhite;text-decoration:none;.nolt;padding:5px;font-size:12px;line-height:15px;.font1;.normal;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;margin-bottom:1px}
.blur {
  -webkit-animation: blurFadeIn 1s linear backwards;
  -moz-animation: blurFadeIn 1s ease-in backwards;
  -ms-animation: blurFadeIn 1s ease-in backwards;
  animation: blurFadeIn 1s ease-in backwards;
  color: #fff;
  opacity: 1;
}



img.grayscale {
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */
   -webkit-filter: grayscale(100%);
   -moz-filter: grayscale(100%);
   -ms-filter: grayscale(100%);
   filter: grayscale(100%);.transition9;
   filter: gray; /* IE 6-9 */
}
img.grayscale:hover {
  filter: none;
   -webkit-filter: none;
   -moz-filter: none;
   -ms-filter: none;
   filter: none;;
}
