/**************************
PROJECT : THE REC ROOM
MODULE : FONTS
***************************/
// fonts awesome for icons
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css);
// -- font faamily

@font-face {
    font-family: 'proximanova-bold-webfont';
    src: url('../fonts/proximanova-bold-webfont.eot');
    src: url('../fonts/proximanova-bold-webfont.ttf') format('truetype'), url('../fonts/proximanova-bold-webfont.svg') format('svg'), url('../fonts/proximanova-bold-webfont.woff') format('woff');
}
@font-face {
    font-family: 'proximanova-regular-webfont';
    src: url('../fonts/proximanova-regular-webfont.eot');
    src: url('../fonts/proximanova-regular-webfont.ttf') format('truetype'), url('../fonts/proximanova-regular-webfont.svg') format('svg'), url('../fonts/proximanova-regular-webfont.woff') format('woff');
}
.font1{font-family: 'proximanova-bold-webfont',sans-serif;}
.font2{font-family: 'proximanova-regular-regular',sans-serif;}
.font3{font-family: 'FontAwesome';}
/****************************************************
######################## FONTS ######################
****************************************************/
// -- font size
.f(@sizeValue) {
    @pxValue: @sizeValue;
    //@vwValue: (@sizeValue / 10 * 1.2);
	font-size: ~'@{pxValue}px';
    //font-size: ~'@{vwValue}vh';
}
// -- line height
.lh(@sizeValue) {
    @pxValue: @sizeValue;
    //@vwValue: (@sizeValue / 10 * 1.2);
    line-height: ~'@{pxValue}px';
    //line-height: ~'@{vwValue}vh';
}
.fv(@sizeValue) {
    @pxValue: @sizeValue;
    @vwValue: (@sizeValue / 10 * 1.2);
    font-size: ~'@{pxValue}px';
    font-size: ~'@{vwValue}vh';
}
// -- line height
.lhv(@sizeValue) {
    @pxValue: @sizeValue;
    @vwValue: (@sizeValue / 10 * 1.2);
    line-height: ~'@{pxValue}px';
    line-height: ~'@{vwValue}vh';
}