
// for desktop 
@gallery_width1: 32.5%;  
@gallery_width2: 65.9%; // expanded 
@gallery_width3: 15.8%; // expanded 
@gallery_height1: 400px;     
@gallery_height1b: 194px;  
// for responsive 
@gallery_height2: 200px; 


.grid {
  max-width: 1280px !important;
  padding:0 0 0 0;
  &:after {
    clear: both;
    content: '';
    display: block;
  }
  .grid-sizer {
    cursor: pointer;
    //width:@gallery_width1;
  }
  .grid-item {
      max-width: 100% !important;    
      .sharethis-wrap{
        padding:10px 20px;
        width:100%;
        text-align:right;
        .gradient(fade(@colorBlack,95%),fade(@colorBlack,5%));
        position: absolute;
        z-index: 46;
        right: 0;
        display: none;
        .st_facebook,.st_twitter,.st_sharethis{
          display: inline-block;
        }
        .st_facebook,.st_twitter,.st_sharethis{
          .stButton{
            width: 20px;
            display: block;
            .facebook{
              background-image:none !important;
              .noPaddingLeft;
              &::after{
                .font3;
                .f(20);
                .lh(20);
                color:@colorWhite;
                content:'\f082'
              }
            }
            .twitter{
              background-image:none !important;
              .noPaddingLeft;
              &::after{ 
                .font3;
                .f(20);
                .lh(20);
                color:@colorWhite;
                content:'\f081'
              }
            }
            .sharethis{
              background-image:none !important;
              .noPaddingLeft;
              &::after{ 
                .font3;
                .f(20);
                .lh(20);
                color:@colorWhite;
                content:'\f1e1'
              }
            }
          }
        }
        .gallery-icon-close{
            color:@colorOrange;
            .transition3;
            .fa-times{
              .posRel;
              .f(30);
              top: 3px;
              left: 3px;
            }
            &:hover{
              color:@colorWhite;
            }
        }
      }
      .box-shadow-1;
      cursor: pointer;
      width:@gallery_width1;
      margin-bottom:13px;
      height:@gallery_height1;
      float: left;
      background-color: #000;
      background-image:url('../../img/loader.gif');
      background-repeat:no-repeat;
      background-position: center;
      border-radius:0px;
      .grid-item-expand-shield{
        display: none;
        .posAbs;
        left:0;
        width:100%;
        height:100%;
        background:transparent;
        top:0;
      }
      .grid-item-content {
        animation: fadein 2s ;
        width:100%;
        height:100%;
        background-color:transparent; 
        display: block;
        overflow:hidden;
        background-size: cover;
        background-position: center;
      }
      &.small-item{
        width:@gallery_width3;
        height:@gallery_height1b;
      }
      &.is-expanded {
        z-index: 2;
        width: @gallery_width2 !important;
        height: @gallery_height1;
        .grid-item-content{
            opacity: 0;
        }
        .sharethis-wrap{
          display: block;
        }
        &.portrait{
          height:607px;
          .grid-item-content{
            background-size:contain;
            background-position:center;
            background-repeat:no-repeat;
            background-color:@colorBlack;
          }
        }
      }
      @keyframes fadein {
        from {opacity: 0;}
        to {opacity: 1;}
      }
  } 
}


@media only screen 
and (min-width : 951px) 
and (max-width : 1199px)  { /* STYLES GO HERE */
  html,body{
    overflow-x:hidden;
    -webkit-overflow-scrolling: touch; 
  }
  .section-heading h1{
    .f(30);
  }
  //.top-wrap{padding-top:90px;}
  .grid{
    width: 1024px;
    margin:0 auto 0 auto;
    left:40px;
    .grid-sizer{
      cursor: pointer;
    }
    .grid-item{
        margin-bottom:1.5%;
        max-width: 100% !important;
        width:206px;
        height:206px;
        max-width: 100% !important;
        .grid-item-content{
            width:100%; 
            height:100%;
        } 
        &.is-expanded{ 
          width: 740px !important;
          height:400px !important;
          max-width: 100% !important;
          .grid-item-content{
              opacity: 0;
              background-repeat:no-repeat;
              background-size: 100% auto;
              background-position:0 bottom;
          }
        }
        &.small-item{
            width:206px;
            height:206px;
        }
      }
  }
}
@media only screen 
and (min-width : 951px) 
and (max-width : 1024px)  { /* STYLES GO HERE */
  .grid{
    width: 951px;
    margin:0 auto 0 auto;
    left:40px;
  }
}

@media only screen 
and (min-width : 768px) 
and (max-width : 950px)  { /* STYLES GO HERE */
  html,body{
    overflow-x:hidden;
    -webkit-overflow-scrolling: touch; 
  }
  .top-wrap{padding-top:90px;}
  .grid{
    overflow-x:hidden;
    width: 718px;
    left:50%;
    margin:0 auto 0 -315px !important;
    .grid-sizer{
      cursor: pointer;
    }
    .grid-item{
        margin-bottom:0.9%;
        max-width: 100% !important;
        width:212px;
        height:212px;
        max-width: 100% !important;
        .grid-item-content{
            width:100%; 
            height:100%;
        } 
        &.small-item{
            width:212px;
            height:212px;
        }
      }
  }
}

@media only screen and (max-width: 767px){
  html,body{
    overflow-x:hidden;
    -webkit-overflow-scrolling: touch; 
  }
  .section-heading h1{
    .f(30) !important;
  } 
  .top-wrap{padding-top:90px;}
  .grid{
    width: 330px;
    margin:0 0 0 -155px !important;
    left:50%;
    .grid-item{
      max-width: 100% !important;
      width:140px;
      height:140px;
      margin-bottom: 7px;
      &.is-expanded{
        width: 315px !important;
        height:212px !important;
      }
      &.small-item{
          width: 140px;
          height:140px;
      }
    }
  }
}

@media only screen and (max-width: 320px){
  .grid{
    width: 314px;
    margin:0 0 0 -138px !important;
    .grid-item{
      width: 138px;
      height:138px;
      max-width: 100% !important;
      margin-bottom: 7px;
      &.is-expanded{
        width: 314px !important;
        height:212px !important;
      }
      &.small-item{
          width: 138px;
          height:138px;
      }
    }
  }
}

 
