/**************************
PROJECT : THE REC ROOM
MODULE : MEDIA QUERIES
***************************/


@media (min-width: 992px){
  .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9{
    padding-left: 5px !important;
    padding-right: 5px !important;
  }
}
@media (min-width: 1200px) and (max-width: 1279px){
  .container {
    width: 970px;
  }
}
@media screen and (min-width: 769px) and (max-width: 1200px){
  .header-utility-bar{
    .hub-el-1wrap{width:590px}
    .hub-el-1a{width:250px;}
    .hub-el-1b{width:138px;}
    .hub-el-2wrap{width:350px;}
    .hub-el-2a{width:140px;}
    .hub-el-2c{width:100px;} 
  }
  .carousel-slide-wrap{
    .slide-carousel-prev,.slide-carousel-next{ 
     margin-top:-60px;
   }
 }
 .box-1,.box-2{  
    height:310px;
  }
  .box-small {
    height: 150px;
     .box-small-content .box-small-text .box-small-text-content h2 {
      font-size: 24px;
      line-height: 24px;
    }
  }
.header-sm-icons{
  display:none;
}
.home-grid .grid-item{

}

.header-utility-bar{
  .col-md-6{
    text-align:left;
  }
}
.box-4{
  height: 200px;
  width: 200px;
  .box-overlay{
    height: 194px;
    width: 194px;
    margin-left:-97px;
  }
  .box-4-content{
    width: 200px;
  }
}
.cd-primary-nav .cd-nav-icons .cd-nav-item h3{
  text-transform:inherit;

  font-size: 13px;
  line-height: 39px;
}
.cd-primary-nav .cd-nav-gallery .cd-nav-item, .cd-primary-nav .cd-nav-icons .cd-nav-item {
  height: 40px;
  line-height: 40px;
}
.cd-primary-nav .cd-nav-icons .cd-nav-item {
  padding-left: 20px;
}
.cd-search{
  top:65px;
}
}

// @media screen and (min-width: 1380px) and (max-width: 1500px){

// }

@media screen and (max-width: 1380px) {
  header{
    nav{
      .f(15);
    }
  }

  .footer-app-icons
  {
    display:none;
  }

  .footer .footer-form input[type=text]{
    width: 100%;
  }
  .header-main{
    .col-md-10{
      width: 200px;
      float: right;
      .navbar-collapse{
        box-shadow: 0 0 0 transparent;
      }
    }
  }
  header nav ul li.main-nav-li{
    text-align:right;
    display:block;
  }
  .logo{
    width: 142px !important;
    float: left;
    img{
      width: 100%;
    }
  }
  .navbar-toggle{
    background:@colorOrange;
  }
  .box-2{
    background-size:cover;
  }
    // HOME Page
    .container{
      min-width:300px;
    }
    .home-slide-1{
      .col-md-4{
        padding-right:15px;
        .spacer-1;
      }
    }
    .home-slide-2{
      .carousel-caption{
        bottom: 25%;
      }
    }
    .home-slide-3{
      .individual-graphic{
        background-size: contain;
      }
    }
    aside{
      max-width: 273px;
      margin: 0 auto;
    }

    .cd-secondary-nav{
      min-width:100% !important;
      width:100% !important
    }
    .cd-header-buttons{
      top: 11px;
    }
    .cd-logo {
      position: relative;
      width: 92px;
      display: block;
      top: 8px;
      float: left;
    }
    .cd-main-header {
      height: 65px;
    }
  }

  @media screen and (max-width: 1024px) {
    .share-widget{
      .posRel;
    }
    .for-tablet{
      display:inline-block;
    }

  }

@media screen and (max-width: 991px) {
  .colorBoxWrap {
      width: 97%;
    }
    .spacer-1 {
      width: 100%;
    }
    .home-slide-1 {
      padding-top: 90px;
    }
  .hvr-sweep-to-right:active:before, .hvr-sweep-to-right:focus:before, .hvr-sweep-to-right:hover:before{
    transition-delay: .25s;
  }
  .box-thm-1b{
    h2{
      .f(24) !important;
      .lh(28) !important;
      max-width:100% !important;
    }
  }
  .home-grid{
    .grid {
      width: 94%;
      //margin: 0 0 0 0!important;
      margin:0 auto !important;
    }
    .col-xs-6,.col-xs-12{
      padding-left:5px;
      padding-right:5px;
      margin-bottom:10px;
    }
    
    .box .box-content-wrap .box-content{
      padding:10px;
      width: 100%;
      .btn-wht{
        padding:4px 18px;
        .f(11);
      }
    }
    .box-small{
      height:260px;
       .box-small-content{
          // .box-small-img{
          //   display: none;
          // }
          // .box-small-text{
          //   width: 100%;
          // }
        }
    }
  }
  .hub-el-1wrap{
    width: 100%;
  }
  .events-select{
    .posRel;
    width:100%;
  }
  .event-filters{
    margin-left:15px;
    text-align:left;
  }
  .events-select .yamm .nav.navbar-nav{
    float:none;
  }
  .yamm .yamm-content{
    background:@colorWhite;
  }
  .home-slide-1-b{
    .mobile-box{
      width: 50%;
      float: left;
      margin: 0;
      padding: 3px;
      .box-1, .box-2{
        width: 100%;
        background-size:contain !important;
        .btn{
          width: 100%;
          padding: 11px;
        }
        .box-content-wrap .box-content{
          padding:10px;
        }
      }
    }
  }
  .change-loc-dd{
    // width: 100%;
    width: 300px;
    position: relative;
    margin-bottom: 20px;
  }
  .for-mobile-nav{
    display:block !important;
  }
  #formsearch{
    top:-35px;
  }
  h1{
    .f(38);
    .lh(46);
  }

  .mobile-padding{
    padding-left:0;
    padding-right:0;
  }
  .home-slide-2 .carousel-control.left, .home-slide-2 .carousel-control.right{
    width: 23px;
  }
  .for-mobile.main-nav-ul.nav.navbar-nav{
    clear:both;
  }
  .navbar-nav>li{
    float:none;
  }
  .for-desktop{display:none;}
  .navbar-collapse.collapse {
    display: none !important;
  }
  .navbar-collapse.collapse.in {
    display: block !important;
  }
  .navbar-header .collapse, .navbar-toggle {
    display:block !important;
  }
  .navbar-header {
    float:none;
    height: 80px;
    box-sizing: border-box;
    padding: 20px 0;
  }
  .carousel-slide-wrap{
    margin-left:8px;
  }
  .carousel-caption .btn{
    width: 100%;
  }
  .carousel-slide-wrap .slide-carousel-prev{
    left:-7px;
  }
  .navbar-collapse.collapse{
    overflow-x:hidden;
  }
  .for-mobile{
    display:block;
    ul{
      margin-left:20px;
    }
  }
  .logo.for-mobile {
    position: absolute;
    width: 100px!important;
    top: 15px;
    // center absolute elem
    margin: 0 auto;
    left: 0;
    right: 0;
    z-index: 99;
    a {
      left: 0;
    }
    img {
      width: 100px;
      display: block;
      margin: 0 auto;
    }
  }
  .section-heading{
    h1{
      .fv(40);
      .lhv(52);
    }
  }
  .home-slide-2{
    .carousel-caption{
      h3 {
        .fv(30);
      }
      h4{
        .fv(50);
        .lhv(50);
      }
    }
    .carousel .icon-container {
      .fv(25);
      .lhv(25);
    }
  }
  .box-1,.box-2{
    height:260px;
    background-size:cover;
  }
  .home-slide-3{
    .cta-app-store{
      display:block;
      margin-bottom:20px;
      img {
        width: 60%;
        margin: 0 auto;
        display: block;
      }
    }
    .individual-graphic{
      height:210px;
      display: block;
    }
  }
  // FOOTER
  footer{
    .text-center;
      .footer-nav{
        .col-md-4{
          ul{
            .noMarginBottom;
            li{
              margin-bottom: 14px;
              display: inline-block !important;
            }
          }
        }
      }
      .footer-form{
        width: 100%;
        margin: 20px auto;
        padding: 0 !important;
        float: none;
        text-align: center;
        .checkbox-wrap{
          float:none;
          text-align:center;
        }
        label{
          font-weight: 400!important;
          font-size: 13px!important;
          line-height: 15px!important;
          .posRel;
          top: 14px;
          text-align: left;
          width: 90%;
          &::before{
            float: left;
            position: relative;
            top: 1px;
            margin-right: 12px;
          }
        }
        input[type=text]{
          width: 100%;
          margin-bottom: 20px;

        }
      }
      .logo{
        max-width: 130px;
        margin: 0 auto;
      }
      .footer-app-icons{
        .text-center;
        float:none;
        margin-bottom:20px;
      }
      .subtext3{
        .text-center;
      }
  }
  .box .box-content-wrap .box-content{
    padding:22px;
  }
  .grid-item{
    max-width:260px;
  }
  .home-slide-3-content{
      .box .box-content-wrap .box-content {
       padding: 0;
     }
   }
  header{
    height: 80px;
    background:@colorBlack;
    width: 100%;
    position: fixed;
    z-index: 999;
    top: 0;
    .navbar-toggle{
      .noMarginRight;
    }
    .navbar-toggle .icon-bar{
      background:@colorWhite;
    }
    .header-main {
      position: absolute;
      top: 0;
      left: 0;
      padding: 0;
      height: 80px;
      width: 100%;
      z-index: 9;
    }
    .header-utility-bar {
      height: 80px;
      padding-top: 34px;
      .fa {
        font-size: 20px;
      }
    }
    .navbar-collapse{
      box-shadow: 0 0 0 transparent;
      .noPaddingLeft;
      background-color: #f7f7f7;
    }
    nav{
      width:100%;
      hr{
        display:block;
        margin:20px 0;
      }
      float:left;
      ul{
        li{
          text-align:left !important;
        }
      }
      ul.main-nav-ul{
        .noMarginLeft;
        .noPaddingTop;
        width: 100%;
        margin: 0 auto;
        border:0;
      }
      ul.main-nav-ul>li{
        display:block;
      }
    }
  }
  header .navbar-nav>li>.dropdown-menu{
    .noPaddingTop;
  }
  .dropdown-menu>li>a{
    color:@colorWhite;
  }
  header .navbar-nav>li:hover>.dropdown-menu{
    width: 100%;
    .noMarginLeft;
    padding-left: 0px !important;
  }
  header nav ul.main-nav-ul li.main-nav-li a.main-nav-li-a{
    padding: 8px 10px 8px 25px!important;
  }
  header nav ul.main-nav-ul li.main-nav-li a:hover{
    color:@colorWhite;
    background:@colorOrange;
  }
  header .dropdown-submenu>a:after{
    margin-right:20px !important;
  }
  header .bgBlue li a .fa {
    float: right;
    margin-top: 3px;
    margin-right: 13px;
  }
  header .dropdown-submenu>.dropdown-menu{
    height:100%;
    .posRel;
    left: 0;
    width:100%;
  }
  .buttonsearch{
    left:12px;
  }

  .pagination li a {
    font-size: 11px;
    color: #777;
    padding: 5px;
    width: 28px;
    margin-right: 0;
    margin-left:9px;
  }
  .event-list .event-details-wrap .event-details {
    min-height: 135px;
  }
  .event-list .event-details-wrap h3 {
    margin-bottom: 30px;
    font-size: 21px;
    line-height: 25px;
  }
  .events-select{
    .noPaddingLeft;
    .marginBot20;
  }
  .mobile-sign-in{
    float: left;
    margin-left: 6px;
    margin-right: 10px;
    z-index: 999999;
  }
  .menu-change-loc{
    .noPaddingRight;
    z-index: 999999;
  }
  // RESTAURANT TEMPLATES
  .carousel-menu-wrapper .carousel-slide-wrap {
    height: 240px
  }
  .menu-header {
    h3, .menu-btns {
      text-align: center;
      float: none !important;
    }
  }
  .restaurant-hero-wrap {
    padding-top: 90px !important;
  }  
  .box-6{
    width:240px;
    height:240px;
    margin:0 auto;
    .box-overlay{
      height: 232px;
      width: 232px;
      left:50%;
      margin-left:-116px;
    }
    .box-6-content{
      width: 240px;
    }
  }
  // FULL PAGE AD
  .full-width-ad-wrapper, .full-page-ad-wrapper  {
    padding-top: 80px;
    margin-top: 0;
    .close {
      right: 28px;
    }
  }
  .full-page-ad-wrapper {
    // added to compensate for the padding on the next element
    margin-bottom: -75px;
  }
  .full-width-ad, .full-page-ad {
    padding: 0;
    overflow: hidden;
    margin-top: 15px;
    img {
      height: 100%;
      width: auto;
    }
  }
  #searchboxwrap {
      position: fixed !important;
      bottom: 0;
      z-index: 999;
      top:auto;
      .container{
        padding-left:0;
        padding-right:0;
      }
      #formsearch{
      background: #000;
      padding: 10px;
        top:0;
      }
  }
}

@media (max-width: 767px){
  header nav ul.main-nav-ul li.main-nav-li{
    position:static !important;
  }
  header nav ul.main-nav-ul li.main-nav-li a.main-nav-li-a {
    padding: 13px 10px 13px 18px!important;
  }
  .search-expanded{
    height: 120vh !important;
    padding-bottom:80px;
  }
  header nav{
    .f(19);
  }
  .navbar-nav .open .dropdown-menu>li>a{
    .f(16);
  }
  #searchboxwrap {
      position: fixed !important;
      bottom: 0;
      z-index: 999;
      top:auto;
      .container{
        padding-left:0;
        padding-right:0;
      }
      #formsearch{
      background: #000;
      padding: 10px;
        top:0;
      }
  }
  header nav ul li.open a{
    color:@colorWhite;
    background:@colorOrange;
  }
  .overflow-no-scroll-mobile{
  overflow-y:hidden;
  overflow-x:hidden;
  height:100%;
  } 
  .navbar-collapse.collapse.in{
    height:120vh;
    nav{
    height:120vh;
      overflow-y:scroll;
      overflow-x:hidden;
      -webkit-overflow-scrolling: touch;
    }
  } 
  header .navbar-nav>li:hover>.dropdown-menu {
      display: none;
  }
  header .navbar-nav>li.open>.dropdown-menu {
    display: block;
  }
  .navbar-nav .open .dropdown-menu .dropdown-header, .navbar-nav .open .dropdown-menu>li>a {
    padding: 8px 20px;
  }
  ul.bgSecondary{
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    padding-top: 8px;
    padding-left: 10px;
  }
}