/**************************
PROJECT : THE REC ROOM
MODULE : MIXINS
***************************/
// it doesn't work on IE8
// IE9 and up is fine
.verticalcenter(@pos:relative, @xvalue:0, @yvalue:-50%) {
	position: @pos;
	top: 50%;
	-webkit-transform: translate(@xvalue, @yvalue);
		  -moz-transform:    translate(@xvalue, @yvalue);
		  -ms-transform:     translate(@xvalue, @yvalue);
		  -o-transform:      translate(@xvalue, @yvalue);
			 transform: translate(@xvalue, @yvalue);
}


.gradient (@startColor: #eee, @endColor: white) {
    background-color: @startColor;
    background: -webkit-gradient(linear, left top, left bottom, from(@startColor), to(@endColor));
    background: -webkit-linear-gradient(top, @startColor, @endColor);
    background: -moz-linear-gradient(top, @startColor, @endColor);
    background: -ms-linear-gradient(top, @startColor, @endColor);
    background: -o-linear-gradient(top, @startColor, @endColor);
}