/**************************
PROJECT : THE REC ROOM
MODULE : VARIABLES
***************************/
//Brand Colors
@colorGray:#f7f7f7;
@colorGray2:#777;
@colorOrange:#f0533f;
@colorBlue:#224c5a;
@colorWhite:#ffffff;
@colorBlack:#121111;
@colorBlack2:#191919;


// Menu colours
@primaryMenuColour: #f0533f;
// @primaryMenuHoverColour: #f0693f;
@secondaryMenuColour: #f0693f;
// @secondaryMenuHoverColour: #f0863f;
@tertiaryMenuColour: #f0863f;
