<!-- index.nunjucks -->
{% extends "layout.nunjucks" %}

{% block content %}
<!--[if lt IE 7]>
<p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
<![endif]-->
{% include "partials/nav.nunjucks" %}

<div class="paddingBot50"></div>
<!-- template begin -->
<div class="container posRel top-wrap">
  <div class="section-heading clearfix">
    <div class="col-md-5 noPaddingLeft">
      <h1>Photo Gallery</h1>
    </div>
    <div class="col-md-3 form noPaddingRight events-select">
      <nav class="navbar yamm " role="navigation">
        <ul class="nav navbar-nav">
          <li class="dropdown" id="events-show-all">
            <a href="javascript:void(0);" class="dropdown-toggle event-filters" data-toggle="dropdown"> <i class="fa fa-filter"></i> Show All</a>
            <ul class="dropdown-menu">
              <li>
                <div class="yamm-content">
                  <h3>Gallery Filters</h3>
                  <hr>
                  <div class="row">
                    <div class="col-md-6">
                      <ul class="list-unstyled marginBot20">
                        <li>
                          <p><strong>Date</strong></p>
                        </li>
                        <li>
                          <div class="checkbox smcheckbox">
                            <input type="checkbox" id="checkbox0" name="checkbox" value="value">
                            <label for="checkbox0" class="inLabel">This Month</label>
                          </div>
                        </li>
                        <li>
                          <div class="checkbox smcheckbox">
                            <input type="checkbox" id="checkbox1" name="checkbox" value="value">
                            <label for="checkbox1" class="inLabel">Next Month</label>
                          </div>
                        </li>
                      </ul>
                      <ul class="list-unstyled">
                        <li>
                          <p><strong>Location</strong></p>
                        </li>
                        <li>
                          <div class="checkbox smcheckbox">
                            <input type="checkbox" id="checkbox2" name="checkbox" value="value">
                            <label for="checkbox2" class="inLabel">All</label>
                          </div>
                        </li>
                        <li>
                          <div class="checkbox smcheckbox">
                            <input type="checkbox" id="checkbox3" name="checkbox" value="value" required="">
                            <label for="checkbox3" class="inLabel">Edmonton</label>
                          </div>
                        </li>
                        <li>
                          <div class="checkbox smcheckbox">
                            <input type="checkbox" id="checkbox4" name="checkbox" value="value" required="">
                            <label for="checkbox4" class="inLabel">Vancouver</label>
                          </div>
                        </li>
                      </ul>
                    </div>
                    <div class="col-md-6">
                      <ul class="list-unstyled marginBot20">
                        <li>
                          <p><strong>All</strong></p>
                        </li>
                        <li>
                          <div class="checkbox smcheckbox">
                            <input type="checkbox" id="checkbox5" name="checkbox" value="value">
                            <label for="checkbox5" class="inLabel">Music</label>
                          </div>
                        </li>
                        <li>
                          <div class="checkbox smcheckbox">
                            <input type="checkbox" id="checkbox6" name="checkbox" value="value">
                            <label for="checkbox6" class="inLabel">Comedy</label>
                          </div>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <hr>
                  <div class="clearfix">
                    <a class="btn btn-3 hvr-bounce-to-bottom" href="javascript:void(0);">Apply</a>
                  </div>
                </div>
              </li>
            </ul>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>
<div class="grid container"  itemscope itemtype="http://schema.org/ImageGallery">>
    <a class="grid-item" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject" href="assets/img/gallery/1.jpg" data-size="800x800" data-author="Author">
      <div class="grid-item-content" style="background-image:url('assets/img/gallery/1-tn.jpg')"></div>
      <figcaption class="hidden">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nec molestie magna, ac bibendum felis. Donec dignissim lectus non urna tincidunt, vel faucibus est laoreet.
      </figcaption>
    </a>
    <a class="grid-item" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject" href="assets/img/gallery/4.jpg" data-size="800x800" data-author="Author">
      <div class="grid-item-content" style="background-image:url('assets/img/gallery/4-tn.jpg')"></div>
    </a>
    <a class="grid-item small-item" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject" href="assets/img/gallery/3.jpg" data-size="800x400" data-author="Author">
      <div class="grid-item-content" style="background-image:url('assets/img/gallery/3-tn.jpg')"></div>
    </a>
    <a class="grid-item small-item" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject" href="assets/img/gallery/2.jpg" data-size="800x600" data-author="Author">
      <div class="grid-item-content" style="background-image:url('assets/img/gallery/2-tn.jpg')"></div>
      <figcaption class="hidden">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nec molestie magna, ac bibendum felis. Donec dignissim lectus non urna tincidunt, vel faucibus est laoreet.
      </figcaption>
    </a>
    <a class="grid-item small-item" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject" href="assets/img/gallery/5.jpg" data-size="800x400" data-author="Author">
      <div class="grid-item-content" style="background-image:url('assets/img/gallery/5-tn.jpg')"></div>
    </a>
    <a class="grid-item small-item" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject" href="assets/img/gallery/1.jpg" data-size="800x800" data-author="Author">
      <div class="grid-item-content" style="background-image:url('assets/img/gallery/1-tn.jpg')"></div>
    </a>
    <a class="grid-item small-item" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject" href="assets/img/gallery/3.jpg" data-size="800x400" data-author="Author">
      <div class="grid-item-content" style="background-image:url('assets/img/gallery/3-tn.jpg')"></div>
    </a>
    <a class="grid-item small-item" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject" href="assets/img/gallery/4.jpg" data-size="800x800" data-author="Author">
      <div class="grid-item-content" style="background-image:url('assets/img/gallery/4-tn.jpg')"></div>
    </a>
    <a class="grid-item" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject" href="assets/img/gallery/5.jpg" data-size="800x400" data-author="Author">
      <div class="grid-item-content" style="background-image:url('assets/img/gallery/5-tn.jpg')"></div>
    </a>
    <a class="grid-item" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject" href="assets/img/gallery/1.jpg" data-size="800x800" data-author="Author">
      <div class="grid-item-content" style="background-image:url('assets/img/gallery/1-tn.jpg')"></div>
    </a>
    <a class="grid-item small-item" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject" href="assets/img/gallery/6.jpg" data-size="800x400" data-author="Author">
      <div class="grid-item-content" style="background-image:url('assets/img/gallery/6-tn.jpg')"></div>
    </a>
    <a class="grid-item small-item" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject" href="assets/img/gallery/7.jpg" data-size="1024x682" data-author="Author">
      <div class="grid-item-content" style="background-image:url('assets/img/gallery/7-tn.jpg')"></div>
    </a>
    <a class="grid-item" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject" href="assets/img/gallery/5.jpg" data-size="800x400" data-author="Author">
      <div class="grid-item-content" style="background-image:url('assets/img/gallery/5-tn.jpg')"></div>
    </a>
    <a class="grid-item" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject" href="assets/img/gallery/1.jpg" data-size="800x800" data-author="Author">
      <div class="grid-item-content" style="background-image:url('assets/img/gallery/1-tn.jpg')"></div>
    </a>
    <a class="grid-item" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject" href="assets/img/gallery/7.jpg" data-size="1024x682" data-author="Author">
      <div class="grid-item-content" style="background-image:url('assets/img/gallery/7-tn.jpg')"></div>
    </a>
</div>
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/photoswipe/4.1.1/default-skin/default-skin.min.css" />
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/photoswipe/4.1.1/photoswipe.min.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/photoswipe/4.1.1/photoswipe.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/photoswipe/4.1.1/photoswipe-ui-default.min.js"></script>

<div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">
  <!-- Background of PhotoSwipe.
  It's a separate element, as animating opacity is faster than rgba(). -->
  <div class="pswp__bg"></div>
  <!-- Slides wrapper with overflow:hidden. -->
  <div class="pswp__scroll-wrap">
    <!-- Container that holds slides. PhotoSwipe keeps only 3 slides in DOM to save memory. -->
    <!-- don't modify these 3 pswp__item elements, data is added later on. -->
    <div class="pswp__container">
      <div class="pswp__item"></div>
      <div class="pswp__item"></div>
      <div class="pswp__item"></div>
    </div>
    <!-- Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed. -->
    <div class="pswp__ui pswp__ui--hidden">
      <div class="pswp__top-bar">
        <!--  Controls are self-explanatory. Order can be changed. -->
        <div class="pswp__counter"></div>
        <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>
        <button class="pswp__button pswp__button--share" title="Share"></button>
        <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>
        <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>
        <div class="pswp__preloader">
          <div class="pswp__preloader__icn">
            <div class="pswp__preloader__cut">
              <div class="pswp__preloader__donut"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
        <div class="pswp__share-tooltip"></div>
      </div>
      <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)">
      </button>
      <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)">
      </button>
      <div class="pswp__caption">
        <div class="pswp__caption__center"></div>
      </div>
    </div>
  </div>
</div>

<hr class="clearfix marginTop20 marginBot30" />
<div class="clearfix">
  <div class="col-md-12 marginBot50 col-md-2 col-md-offset-5 text-center">
    <a href="javascript:void(0);" class="btn hvr-bounce-to-bottom" id="load-images">Load More</a>
  </div>
</div>



<footer>
  <div class="container">
    <p class="subtext3 for-mobile">Tel: 403.342.2345</p>
    <div class="clearfix">
      <ul class="social-icons noPaddingLeft">
        <li><a href="#" class="social-icon"> <i class="fa fa-facebook-official"></i></a></li>
        <li><a href="#" class="social-icon"> <i class="fa fa-twitter-square"></i></a></li>
        <li><a href="#" class="social-icon"> <i class="fa fa-instagram"></i></a></li>
      </ul>
    </div>
    <div class="clearfix">
      <div class="col-md-6">
        <div class="row footer-nav">
          <div class="col-md-4">
            <ul>
              <li><a class="hvr-underline-reveal" href="#">Venue</a></li>
              <li><a class="hvr-underline-reveal" href="#">Games</a></li>
              <li><a class="hvr-underline-reveal" href="#">Social</a></li>
              <li><a class="hvr-underline-reveal" href="#">Groups</a></li>
              <li><a class="hvr-underline-reveal" href="#">Gift Cards</a></li>
            </ul>
          </div>
          <div class="col-md-4">
            <ul>
              <li><a class="hvr-underline-reveal" href="#">Eats</a></li>
              <li><a class="hvr-underline-reveal" href="#">Entertainment</a></li>
              <li><a class="hvr-underline-reveal" href="#">Reservations</a></li>
              <li><a class="hvr-underline-reveal" href="#">Event Calendar</a></li>
              <li><a class="hvr-underline-reveal" href="#">Photography</a></li>
            </ul>
          </div>
          <div class="col-md-4">
            <ul>
              <li><a class="hvr-underline-reveal" href="#">Contact</a></li>
              <li><a class="hvr-underline-reveal" href="#">Location</a></li>
              <li><a class="hvr-underline-reveal" href="#">Privacy</a></li>
              <li><a class="hvr-underline-reveal" href="#">Terms</a></li>
              <li><a class="hvr-underline-reveal" href="#">Job Board</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-6 clearfix footer-form">
        <p class="subtext3 text-right"><a href="#" class="link-wht hvr-underline-reveal">Join the Mailing List</a></p>
        <form>
          <div class="clearfix">
            <input type="text" placeholder="E-Mail Address" />
            <a href="#" class="btn btn-blk2 hvr-bounce-to-bottom">Submit</a>
          </div>
          <br />
          <div class="clearfix checkbox-wrap">
            <input name="consent" id="consent" type="checkbox" />
            <label for="consent">I give my consent, and can unsubscriber at anytime.</label>
          </div>
        </form>
      </div>
    </div>
    <hr />
    <div class="clearfix">
      <div class="logo col-md-3">
        <a href="#"><img src="assets/img/logo.png" alt="" /></a>
      </div>
      <div class="col-md-5 clearfix footer-app-icons">
        <a href="javascript:void(0);" class="cta-app-store"><img src="assets/img/appicons/apple-app-store-cta.png" alt="Apple App Store &trade;" /></a>
        <a href="javascript:void(0);" class="cta-app-store noMarginRight"><img src="assets/img/appicons/google-app-store-cta.png" alt="Goolge Play Store &trade;" /></a>
      </div>
    </div>
  </div>
  <div class="footer-disclaimer">
    © 2016 The Rec Room All Rights Reserved
  </div>
</footer>
{% include "partials/global-footer-scripts.nunjucks" %}

<script src='https://cdnjs.cloudflare.com/ajax/libs/masonry/4.1.0/masonry.pkgd.min.js'></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.waitforimages/2.2.0/jquery.waitforimages.min.js"></script>
<!-- Root element of PhotoSwipe. Must have class pswp. -->

<script>
    // // CLOBAL VARIABLE
    var $grid =$('.grid').masonry({
      itemSelector: '.grid-item',
      columnWidth:  17,
      percentPosition: true,
      gutter: 7.5,
    });
    $grid.masonry();


    (function() {
        var initPhotoSwipeFromDOM = function(gallerySelector) {
            var parseThumbnailElements = function(el) {
                var thumbElements = el.childNodes,
                    numNodes = thumbElements.length,
                    items = [],
                    el,
                    childElements,
                    thumbnailEl,
                    size,
                    item;

                for (var i = 0; i < numNodes; i++) {
                    el = thumbElements[i];

                    // include only element nodes 
                    if (el.nodeType !== 1) {
                        continue;
                    }

                    childElements = el.children;

                    size = el.getAttribute('data-size').split('x');

                    // create slide object
                    item = {
                        src: el.getAttribute('href'),
                        w: parseInt(size[0], 10),
                        h: parseInt(size[1], 10),
                        author: el.getAttribute('data-author')
                    };

                    item.el = el; // save link to element for getThumbBoundsFn

                    if (childElements.length > 0) {
                        item.msrc = childElements[0].getAttribute('src'); // thumbnail url
                        if (childElements.length > 1) {
                            item.title = childElements[1].innerHTML; // caption (contents of figure)
                        }
                    }


                    var mediumSrc = el.getAttribute('data-med');
                    if (mediumSrc) {
                        size = el.getAttribute('data-med-size').split('x');
                        // "medium-sized" image
                        item.m = {
                            src: mediumSrc,
                            w: parseInt(size[0], 10),
                            h: parseInt(size[1], 10)
                        };
                    }
                    // original image
                    item.o = {
                        src: item.src,
                        w: item.w,
                        h: item.h
                    };

                    items.push(item);
                }

                return items;
            };

            // find nearest parent element
            var closest = function closest(el, fn) {
                return el && (fn(el) ? el : closest(el.parentNode, fn));
            };

            var onThumbnailsClick = function(e) {
                e = e || window.event;
                e.preventDefault ? e.preventDefault() : e.returnValue = false;

                var eTarget = e.target || e.srcElement;

                var clickedListItem = closest(eTarget, function(el) {
                    return el.tagName === 'A';
                });

                if (!clickedListItem) {
                    return;
                }

                var clickedGallery = clickedListItem.parentNode;

                var childNodes = clickedListItem.parentNode.childNodes,
                    numChildNodes = childNodes.length,
                    nodeIndex = 0,
                    index;

                for (var i = 0; i < numChildNodes; i++) {
                    if (childNodes[i].nodeType !== 1) {
                        continue;
                    }

                    if (childNodes[i] === clickedListItem) {
                        index = nodeIndex;
                        break;
                    }
                    nodeIndex++;
                }

                if (index >= 0) {
                    openPhotoSwipe(index, clickedGallery);
                }
                return false;
            };

            var photoswipeParseHash = function() {
                var hash = window.location.hash.substring(1),
                    params = {};

                if (hash.length < 5) { // pid=1
                    return params;
                }

                var vars = hash.split('&');
                for (var i = 0; i < vars.length; i++) {
                    if (!vars[i]) {
                        continue;
                    }
                    var pair = vars[i].split('=');
                    if (pair.length < 2) {
                        continue;
                    }
                    params[pair[0]] = pair[1];
                }

                if (params.gid) {
                    params.gid = parseInt(params.gid, 10);
                }

                return params;
            };

            var openPhotoSwipe = function(index, galleryElement, disableAnimation, fromURL) {
                var pswpElement = document.querySelectorAll('.pswp')[0],
                    gallery,
                    options,
                    items;

                items = parseThumbnailElements(galleryElement);

                // define options (if needed)
                options = {

                    galleryUID: galleryElement.getAttribute('data-pswp-uid'),

                    getThumbBoundsFn: function(index) {
                        // See Options->getThumbBoundsFn section of docs for more info
                        var thumbnail = items[index].el.children[0],
                            pageYScroll = window.pageYOffset || document.documentElement.scrollTop,
                            rect = thumbnail.getBoundingClientRect();

                        return {
                            x: rect.left,
                            y: rect.top + pageYScroll,
                            w: rect.width
                        };
                    },

                    addCaptionHTMLFn: function(item, captionEl, isFake) {
                        if (!item.title) {
                            captionEl.children[0].innerText = '';
                            return false;
                        }
                        captionEl.children[0].innerHTML = item.title + '<br/><small>' + item.author + '</small>';
                        return true;
                    },

                };


                if (fromURL) {
                    if (options.galleryPIDs) {
                        // parse real index when custom PIDs are used 
                        // http://photoswipe.com/documentation/faq.html#custom-pid-in-url
                        for (var j = 0; j < items.length; j++) {
                            if (items[j].pid == index) {
                                options.index = j;
                                break;
                            }
                        }
                    } else {
                        options.index = parseInt(index, 10) - 1;
                    }
                } else {
                    options.index = parseInt(index, 10);
                }

                // exit if index not found
                if (isNaN(options.index)) {
                    return;
                }



                var radios = document.getElementsByName('gallery-style');
                for (var i = 0, length = radios.length; i < length; i++) {
                    if (radios[i].checked) {
                        if (radios[i].id == 'radio-all-controls') {

                        } else if (radios[i].id == 'radio-minimal-black') {
                            options.mainClass = 'pswp--minimal--dark';
                            options.barsSize = {
                                top: 0,
                                bottom: 0
                            };
                            options.captionEl = false;
                            options.fullscreenEl = false;
                            options.shareEl = false;
                            options.bgOpacity = 0.85;
                            options.tapToClose = true;
                            options.tapToToggleControls = false;
                        }
                        break;
                    }
                }

                if (disableAnimation) {
                    options.showAnimationDuration = 0;
                }

                // Pass data to PhotoSwipe and initialize it
                gallery = new PhotoSwipe(pswpElement, PhotoSwipeUI_Default, items, options);

                // see: http://photoswipe.com/documentation/responsive-images.html
                var realViewportWidth,
                    useLargeImages = false,
                    firstResize = true,
                    imageSrcWillChange;

                gallery.listen('beforeResize', function() {

                    var dpiRatio = window.devicePixelRatio ? window.devicePixelRatio : 1;
                    dpiRatio = Math.min(dpiRatio, 2.5);
                    realViewportWidth = gallery.viewportSize.x * dpiRatio;


                    if (realViewportWidth >= 1200 || (!gallery.likelyTouchDevice && realViewportWidth > 800) || screen.width > 1200) {
                        if (!useLargeImages) {
                            useLargeImages = true;
                            imageSrcWillChange = true;
                        }

                    } else {
                        if (useLargeImages) {
                            useLargeImages = false;
                            imageSrcWillChange = true;
                        }
                    }

                    if (imageSrcWillChange && !firstResize) {
                        gallery.invalidateCurrItems();
                    }

                    if (firstResize) {
                        firstResize = false;
                    }

                    imageSrcWillChange = false;

                });

                gallery.listen('gettingData', function(index, item) {
                    if (useLargeImages) {
                        item.src = item.o.src;
                        item.w = item.o.w;
                        item.h = item.o.h;
                    } else {
                        // item.src = item.m.src;
                        // item.w = item.m.w;
                        // item.h = item.m.h;
                        item.src = item.o.src;
                        item.w = item.o.w;
                        item.h = item.o.h;
                    }
                });

                gallery.init();
            };

            // select all gallery elements
            var galleryElements = document.querySelectorAll(gallerySelector);
            for (var i = 0, l = galleryElements.length; i < l; i++) {
                galleryElements[i].setAttribute('data-pswp-uid', i + 1);
                galleryElements[i].onclick = onThumbnailsClick;
            }

            // Parse URL and open gallery if it contains #&pid=3&gid=1
            var hashData = photoswipeParseHash();
            if (hashData.pid && hashData.gid) {
                openPhotoSwipe(hashData.pid, galleryElements[hashData.gid - 1], true, true);
            }
        };

        initPhotoSwipeFromDOM('.grid');

    })();
</script>
{% endblock %}
