<!-- index.nunjucks -->
{% extends "layout.nunjucks" %}

{% block content %}
<!--[if lt IE 7]>
    <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
    <![endif]-->
   {% include "partials/nav.nunjucks" %}

   <div class="paddingBot50"></div>
    <div class="marginTop100"></div>
    <div class="container">
        <section id="colorGuide">
            <h1 class="wborder" style="margin-top:-2px;">Colour Guide</h1>
            <div class="colorBoxWrap clearfix">
                <div class="colorBox colorBoxBlack"></div>
                <div>Primary: #12111</div>
            </div>
            <div class="colorBoxWrap clearfix">
                <div class="colorBox colorBoxOrange"></div>
                <div>Secondary: #f0533f</div>
            </div>
            <div class="colorBoxWrap clearfix">
                <div class="colorBox colorBoxGray"></div>
                <div>Tertiary: # #777777</div>
            </div>
        </section>
        <div class="marginBot50"></div>
        <section id="Typography">
            <h1 class="wborder">Typography</h1>
            <h1>H1 - Welcome to The Rec Room</h1>
            <p><em>Proxima Nova Bold 50pt</em></p>
            <div class="marginBot50"></div>
            <h2>H2 - Welcome to The Rec Room</h2>
            <p><em>Proxima Nova Bold 30pt</em></p>
            <div class="marginBot50"></div>
            <h3>H3 - Welcome to The Rec Room</h3>
            <p><em>Proxima Nova Bold 20pt</em></p>
            <hr />
            <h4>This is some lead body copy. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</h4>
            <p><em>Proxima Nova Bold 24pt</em></p>
            <p>
            In her inaugural arc, Jessicas life immediately becomes expendable when she uncovers the potentially explosive secret of one heros true identity. Jessica Jones had Joined the Avengers. Get ready for action-packed stories featuring team-ups from your favorite Marvel heroes every month. The classic adventures of Spider-Man from the early days up until the 90s.
            </p>
            <p>
            But her wit, charm and intelligence just may help her survive through another day. The very first appearance of Spider-Man. An excellent book, fit for readers of all ages. First, a story where Wolverine and Hulk come together, and then Captain America and Cable meet up.
            </p>
            <p>
            Plus: Jessica travels to upstate New York to investigate the disappearance of a teenage girl rumored to be a mutant in a prejudiced small town, goes on a date with the Astonishing Ant-Man, teams up with Jessica Drew, the original Spider-Woman and confronts the demons of her past. Once upon a time, Jessica Jones was a costumed super-hero, just not a very good one. Amazing Spider-Man is the cornerstone of the Marvel Universe. Thrust into the midst of a conspiracy that reaches the highest levels, has Jessica burned too many bridges to turn to old friends for help.
            </p>
            <p><em>Proxima Nova Regular 16pt</em></p>
        </section>
        <div class="marginBot50"></div>
        <section id="Buttons">
            <h1 class="wborder">Buttons</h1>
            <h3 class="wborder">Primary Buttons</h3>
            <a class="btn btn-wht hvr-bounce-to-bottom" href="javascript:void(0)";>Find Tickets</a>
            <a class="btn hvr-bounce-to-bottom" href="javascript:void(0)";>Find Tickets</a>
            <a class="btn btn-gray hvr-bounce-to-bottom" href="javascript:void(0)"; data-toggle="modal" data-target="#myModal">Open Modal</a>
            <hr />
            <h3 class="wborder">Secondary Buttons</h3>
            <a class="btn btn-2 btn-wht hvr-bounce-to-bottom" href="javascript:void(0)";>Find Tickets</a>
            <a class="btn btn-2 hvr-bounce-to-bottom" href="javascript:void(0)";>Find Tickets</a>
            <a class="btn btn-2 btn-gray hvr-bounce-to-bottom" href="javascript:void(0)"; data-toggle="modal" data-target="#myModal">Open Modal</a>
            <hr />
            <h3 class="wborder">Tertiary Buttons</h3>
            <a class="btn btn-3 btn-wht hvr-bounce-to-bottom" href="javascript:void(0)";>Find Tickets</a>
            <a class="btn btn-3 hvr-bounce-to-bottom" href="javascript:void(0)";>Find Tickets</a>
            <a class="btn btn-3 btn-gray hvr-bounce-to-bottom" href="javascript:void(0)"; data-toggle="modal" data-target="#myModal">Open Modal</a>
            <hr />
        </section>
        <div class="marginBot50"></div>
        <!-- Modal -->
        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog">
              <!-- Modal content-->
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <h4 class="modal-title">Modal Header</h4>
                </div>
                <div class="modal-body">
                  <p>Some text in the modal.</p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-gray hvr-bounce-to-bottom" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
        </div>
        <!-- BOXES -->
        <div class="marginBot50"></div>
        <section id="boxes" class="clearfix">
            <h1 class="wborder">Boxes</h1>
            <div class="row boxes-wrap">
                <div class="col-md-4">
                    <div class="box box-1 ">
                        <div class="box-content-wrap">
                            <div class="box-content">
                                <h2>Tell Better Stories</h2>
                                <a href="javascript:void(0);" class="btn hvr-bounce-to-bottom">Learn More</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="box box-1 box-thm-2 box-nb">
                        <div class="box-content-wrap ">
                            <div class="box-content">
                                <h2>Ready<br />Player One</h2>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="box box-1 box-thm-4 box-nb">
                        <div class="box-content-wrap ">
                            <div class="box-content ">
                                <h2>Game On</h2>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="box box-1 box-thm-4 box-nb box-pattern-bg" style="background-image:url('assets/img/backgrounds/box-theme-5c.png')">
                        <div class="box-content-wrap">
                            <div class="box-content">
                                <h2>Tell Better Stories</h2>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="box box-1 box-thm-2 box-nb box-pattern-bg" style="background-image:url('assets/img/backgrounds/box-theme-5.png')">
                        <div class="box-content-wrap ">
                            <div class="box-content">
                                <h2>Ready<br />Player One</h2>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="box box-1 box-thm-4 box-nb box-pattern-bg" style="background-image:url('assets/img/backgrounds/box-theme-5b.png')">
                        <div class="box-content-wrap ">
                            <div class="box-content ">
                                <h2>Game On</h2>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="box box-1 box-thm-2">
                        <div class="box-content-wrap">
                            <div class="box-content">
                                <h2>Party<br />On</h2>
                                <p>Lorem ipsum dolor sit amet, consectetur.</p>
                                <a href="javascript:void(0);" class="btn btn-wht hvr-bounce-to-bottom">Learn More</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="box box-2 hvr-sweep-to-right box-thm-1"
                        style="background-image:url('assets/img/fpo/slide-4.jpg')
                    ">
                        <div class="box-content-wrap">
                            <div class="box-content box-content-nb">
                                <h2>Party<br />On</h2>
                                <p>Lorem ipsum dolor sit amet, consectetur.</p>
                                <a href="javascript:void(0);" class="btn btn-wht hvr-bounce-to-bottom">Learn More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Carousels -->
        <div class="marginBot50"></div>
        <section id="carousel" class="clearfix">
            <h1 class="wborder">Carousels</h1>
            <h3 class="wborder">Carousel Horizontal Carousel of Item</h3>
            <div class="carousel-slide-wrap">
                <div class="customNavigation">
                  <a class="slide-carousel-prev"></a>
                  <a class="slide-carousel-next"></a>
                </div>
                <div id="carousel-slide" class="owl-carousel owl-theme">
                    <div class="item">
                        <div class="box box-4">
                            <div class="box-overlay"></div>
                            <img src="assets/img/fpo/events-list-the-band-2.jpg" alt="Band 2">
                            <div class="box-4-content">
                            <div class="date">September 1st, 2016</div>
                            <h4>RA RA RIOT</h4>
                            <a class="btn btn-3 btn-wht hvr-bounce-to-bottom">Find Tickets</a>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="box box-4">
                            <div class="box-overlay"></div>
                            <img src="assets/img/fpo/events-list-the-band-2.jpg" alt="Band 2">
                            <div class="box-4-content">
                            <div class="date">September 1st, 2016</div>
                            <h4>RA RA RIOT</h4>
                            <a class="btn btn-3 btn-wht hvr-bounce-to-bottom">Find Tickets</a>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="box box-4">
                            <div class="box-overlay"></div>
                            <img src="assets/img/fpo/events-list-the-band-2.jpg" alt="Band 2">
                            <div class="box-4-content">
                            <div class="date">September 1st, 2016</div>
                            <h4>RA RA RIOT</h4>
                            <a class="btn btn-3 btn-wht hvr-bounce-to-bottom">Find Tickets</a>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="box box-4">
                            <div class="box-overlay"></div>
                            <img src="assets/img/fpo/events-list-the-band-2.jpg" alt="Band 2">
                            <div class="box-4-content">
                            <div class="date">September 1st, 2016</div>
                            <h4>RA RA RIOT</h4>
                            <a class="btn btn-3 btn-wht hvr-bounce-to-bottom">Find Tickets</a>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="box box-4">
                            <div class="box-overlay"></div>
                            <img src="assets/img/fpo/events-list-the-band-2.jpg" alt="Band 2">
                            <div class="box-4-content">
                            <div class="date">September 1st, 2016</div>
                            <h4>RA RA RIOT</h4>
                            <a class="btn btn-3 btn-wht hvr-bounce-to-bottom">Find Tickets</a>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="box box-4">
                            <div class="box-overlay"></div>
                            <img src="assets/img/fpo/events-list-the-band-2.jpg" alt="Band 2">
                            <div class="box-4-content">
                            <div class="date">September 1st, 2016</div>
                            <h4>RA RA RIOT</h4>
                            <a class="btn btn-3 btn-wht hvr-bounce-to-bottom">Find Tickets</a>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="box box-4">
                            <div class="box-overlay"></div>
                            <img src="assets/img/fpo/events-list-the-band-2.jpg" alt="Band 2">
                            <div class="box-4-content">
                            <div class="date">September 1st, 2016</div>
                            <h4>RA RA RIOT</h4>
                            <a class="btn btn-3 btn-wht hvr-bounce-to-bottom">Find Tickets</a>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="box box-4">
                            <div class="box-overlay"></div>
                            <img src="assets/img/fpo/events-list-the-band-2.jpg" alt="Band 2">
                            <div class="box-4-content">
                            <div class="date">September 1st, 2016</div>
                            <h4>RA RA RIOT</h4>
                            <a class="btn btn-3 btn-wht hvr-bounce-to-bottom">Find Tickets</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div class="marginBot50"></div>
        <!-- HOME SLIDE 2 // -->
        <h3 class="wborder">Carousel Horizontal Slider</h3>
        <section class="clearfix col-md-12 home-slide-2 clearfix">
            <div id="slider" class="carousel slide box-shadow-1">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#home-slide-2-carousel" data-slide-to="0" class="active"></li>
                    <li data-target="#home-slide-2-carousel" data-slide-to="1"></li>
                    <li data-target="#home-slide-2-carousel" data-slide-to="2"></li>
                    <li data-target="#home-slide-2-carousel" data-slide-to="3"></li>
                </ol>
                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">
                    <!-- First slide -->
                    <div class="item active">
                        <img src="assets/img/fpo/home-slide-2.jpg" alt="" />
                        <div class="carousel-caption">
                            <h3 data-animation="animated bounceInLeft">
                                04.15.2016
                            </h3>
                            <h4 data-animation="animated bounceInRight">
                                Major Lazer at The Hall
                            </h4>
                            <a href="javascript:void(0);" class="btn btn-wht hvr-bounce-to-bottom" data-animation="animated zoomInUp">Find Tickets</a>
                        </div>
                    </div> <!-- /.item -->
                    <!-- Second slide -->
                    <div class="item">
                        <img src="assets/img/fpo/home-slide-2.jpg" alt="" />
                        <div class="carousel-caption">
                            <h3 data-animation="animated bounceInLeft">
                                04.15.2016
                            </h3>
                            <h4 data-animation="animated bounceInRight">
                                Major Lazer at The Hall
                            </h4>
                            <a href="javascript:void(0);" class="btn btn-wht hvr-bounce-to-bottom" data-animation="animated zoomInUp">Find Tickets</a>
                        </div>
                   </div><!-- /.item -->
                    <!-- Third slide -->
                    <div class="item">
                        <img src="assets/img/fpo/home-slide-2.jpg" alt="" />
                        <div class="carousel-caption">
                            <h3 data-animation="animated bounceInLeft">
                                04.15.2016
                            </h3>
                            <h4 data-animation="animated bounceInRight">
                                Major Lazer at The Hall
                            </h4>
                            <a href="javascript:void(0);" class="btn btn-wht hvr-bounce-to-bottom" data-animation="animated zoomInUp">Find Tickets</a>
                        </div>
                    </div><!-- /.item -->
                    <!-- Fourth slide -->
                    <div class="item">
                        <img src="assets/img/fpo/home-slide-2.jpg" alt="" />
                        <div class="carousel-caption">
                            <h3 data-animation="animated bounceInLeft">
                                04.15.2016
                            </h3>
                            <h4 data-animation="animated bounceInRight">
                                Major Lazer at The Hall
                            </h4>
                            <a href="javascript:void(0);" class="btn btn-wht hvr-bounce-to-bottom" data-animation="animated zoomInUp">Find Tickets</a>
                        </div>
                    </div><!-- /.item -->
                </div><!-- /.carousel-inner -->
                <!-- Controls -->
                <a class="left carousel-control" href="#slider" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#slider" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div><!-- /.carousel -->
        </section>
        <div class="row"></div>
        <div class="container paddingTop40">
        <section id="Forms">
            <h2 class="wborder">Input Fields</h2>
            <div class="col-md-5 ">
                <div class="row marginBot10">
                    <form class="form" method="post" action="" data-parsley-namespace="data-parsley-" data-parsley-validate="true" novalidate="">
                        <div class="row">
                            <label for="">Field Label</label>
                            <input class="form-control" type="text" placeholder="This is an input field" data-parsley-pattern="^[a-zA-Z]+(\s[a-zA-Z]+)?$" data-parsley-required="true" data-parsley-trigger="change" placeholder="First name" required/>
                        </div>
                        <hr />
                        <div class="row">
                            <div class="radio">
                                <input type="radio" id="radio0" name="radio" value="value" data-parsley-required="false" data-parsley-error-message="Please complete the required field" data-parsley-multiple="radio" required="">
                                <label for="radio0" class="inLabel">Radio Label</label>
                            </div>
                        </div>
                        <hr />
                        <div class="row">
                            <div class="checkbox">
                                <input type="checkbox" id="checkbox0" name="checkbox" value="value" data-parsley-required="false" data-parsley-error-message="Please complete the required field" data-parsley-multiple="checkbox"  required="">
                                <label for="checkbox0" class="inLabel">Checkbox Label</label>
                            </div>
                        </div>
                        <hr />
                        <div class="row" style="margin-left:15px;">
                            <input type="text" class="ui-slider" value="" data-slider-min="-20" data-slider-max="20" data-slider-step="1" data-slider-value="-14" data-slider-orientation="horizontal" data-slider-selection="after"data-slider-tooltip="hide">
                        </div>
                        <hr />
                        <nav>
                            <ul class="pagination">
                                <li>
                                    <a href="#" aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                </li>
                                <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
                                <li><a href="#">2 <span class="sr-only">(current)</span></a></li>
                                <li><a href="#">3 <span class="sr-only">(current)</span></a></li>
                                <li><a href="#">4 <span class="sr-only">(current)</span></a></li>
                                <li>
                                    <a href="#" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                        <hr>
                        <div class="row">
                            <div class='col-sm-6'>
                                <div class="form-group">
                                    <div class='input-group date' id='datetimepicker1'>
                                        <input type='text' class="form-control" />
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <select class="select-form-control">
                                <option>Option 1</option>
                            </select>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        </section>
        <div class="marginBot50"></div>
        <!-- vertical carousel -->
        <h2 class="wborder">Vertical Slider</h2>
        <button class="vSprev marginBot10" onclick="$('.vertical-slider').vsPrevPage()"></button>
        <div class="vertical-slider-wrap">
          <div class="vertical-slider">
                <ul class="clearfix vertical-carousel">
                    <li class="item result">
                        <div class="row">
                            <div class="vs-img">
                                <img src="http://dummyimage.com/300x300/000/fff" alt="" class="img-responsive" />
                            </div>
                            <div class="vs-content row">
                                <h3>WORK WHERE YOU PLAY!</h3>
                                <p>In her inaugural arc, Jessicas life immediately becomes expendable <a href="#">READ MORE</a></p>
                            </div>
                        </div>
                    </li>
                    <li class="item result">
                        <div class="row">
                            <div class="vs-img">
                                <img src="http://dummyimage.com/300x300/000/fff" alt="" class="img-responsive" />
                            </div>
                            <div class="vs-content row">
                                <h3>WORK WHERE YOU PLAY!</h3>
                                <p>In her inaugural arc, Jessicas life immediately becomes expendable <a href="#">READ MORE</a></p>
                            </div>
                        </div>
                    </li>
                    <li class="item result">
                        <div class="row">
                            <div class="vs-img">
                                <img src="http://dummyimage.com/300x300/000/fff" alt="" class="img-responsive" />
                            </div>
                            <div class="vs-content row">
                                <h3>WORK WHERE YOU PLAY!</h3>
                                <p>In her inaugural arc, Jessicas life immediately becomes expendable <a href="#">READ MORE</a></p>
                            </div>
                        </div>
                    </li>
                    <li class="item result">
                        <div class="row">
                            <div class="vs-img">
                                <img src="http://dummyimage.com/300x300/000/fff" alt="" class="img-responsive" />
                            </div>
                            <div class="vs-content row">
                                <h3>WORK WHERE YOU PLAY!</h3>
                                <p>In her inaugural arc, Jessicas life immediately becomes expendable <a href="#">READ MORE</a></p>
                            </div>
                        </div>
                    </li>
                    <li class="item result">
                        <div class="row">
                            <div class="vs-img">
                                <img src="http://dummyimage.com/300x300/000/fff" alt="" class="img-responsive" />
                            </div>
                            <div class="vs-content row">
                                <h3>WORK WHERE YOU PLAY!</h3>
                                <p>In her inaugural arc, Jessicas life immediately becomes expendable <a href="#">READ MORE</a></p>
                            </div>
                        </div>
                    </li>
                    <li class="item result">
                        <div class="row">
                            <div class="vs-img">
                                <img src="http://dummyimage.com/300x300/000/fff" alt="" class="img-responsive" />
                            </div>
                            <div class="vs-content row">
                                <h3>WORK WHERE YOU PLAY!</h3>
                                <p>In her inaugural arc, Jessicas life immediately becomes expendable <a href="#">READ MORE</a></p>
                            </div>
                        </div>
                    </li>
                </ul>
          </div>
        </div>
        <button class="vSnext" onclick="$('.vertical-slider').vsNextPage()"></button>
        <div class="marginBot50"></div>
    </div>
      <!-- FOOTER BEGIN ###### -->
        <div class="share-widget">
            <div class="container">
            <span class="sharethistxt for-tablet">Share: </span>
            <span class='st_facebook_large' displayText='Facebook'></span>
            <span class='st_twitter_large' displayText='Tweet'></span>
            <span class='st_instagram_large' displayText='Instagram Badge' st_username='recroomofficial'></span>
            <span class='st__large' displayText=''></span>
            </div>
        </div>
        <footer>
            <div class="container">
                <p class="subtext3 for-mobile">Tel: 403.342.2345</p>
                <div class="clearfix">
                    <ul class="social-icons noPaddingLeft">
                        <li><a href="#" class="social-icon"> <i class="fa fa-facebook-official"></i></a></li>
                        <li><a href="#" class="social-icon"> <i class="fa fa-twitter-square"></i></a></li>
                        <li><a href="#" class="social-icon"> <i class="fa fa-instagram"></i></a></li>
                    </ul>
                </div>
                <div class="clearfix">
                    <div class="col-md-6">
                        <div class="row footer-nav">
                            <div class="col-md-4">
                                <ul>
                                    <li><a class="hvr-underline-reveal" href="#">Venue</a></li>
                                    <li><a class="hvr-underline-reveal" href="#">Games</a></li>
                                    <li><a class="hvr-underline-reveal" href="#">Social</a></li>
                                    <li><a class="hvr-underline-reveal" href="#">Groups</a></li>
                                    <li><a class="hvr-underline-reveal" href="#">Gift Cards</a></li>
                                </ul>
                            </div>
                            <div class="col-md-4">
                                <ul>
                                    <li><a class="hvr-underline-reveal" href="#">Eats</a></li>
                                    <li><a class="hvr-underline-reveal" href="#">Entertainment</a></li>
                                    <li><a class="hvr-underline-reveal" href="#">Reservations</a></li>
                                    <li><a class="hvr-underline-reveal" href="#">Event Calendar</a></li>
                                    <li><a class="hvr-underline-reveal" href="#">Photography</a></li>
                                </ul>
                            </div>
                            <div class="col-md-4">
                                <ul>
                                    <li><a class="hvr-underline-reveal" href="#">Contact</a></li>
                                    <li><a class="hvr-underline-reveal" href="#">Location</a></li>
                                    <li><a class="hvr-underline-reveal" href="#">Privacy</a></li>
                                    <li><a class="hvr-underline-reveal" href="#">Terms</a></li>
                                    <li><a class="hvr-underline-reveal" href="#">Job Board</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 clearfix footer-form">
                        <p class="subtext3 text-right"><a href="#" class="link-wht hvr-underline-reveal">Join the Mailing List</a></p>
                        <form>
                            <div class="clearfix">
                                <input type="text" placeholder="E-Mail Address" />
                                <a href="#" class="btn btn-blk2 hvr-bounce-to-bottom">Submit</a>
                            </div>
                            <br />
                            <div class="clearfix checkbox-wrap">
                                <input name="consent" id="consent" type="checkbox" />
                                <label for="consent">I give my consent, and can unsubscriber at anytime.</label>
                            </div>
                        </form>
                    </div>
                </div>
                <hr />
                <div class="clearfix">
                    <div class="logo col-md-3">
                        <a href="#"><img src="assets/img/logo.png" alt="" /></a>
                    </div>
                    <div class="col-md-5 clearfix footer-app-icons">
                        <a href="javascript:void(0);" class="cta-app-store"><img src="assets/img/appicons/apple-app-store-cta.png" alt="Apple App Store &trade;" /></a>
                        <a href="javascript:void(0);" class="cta-app-store noMarginRight"><img src="assets/img/appicons/google-app-store-cta.png" alt="Goolge Play Store &trade;" /></a>
                    </div>
                </div>
            </div>
            <div class="footer-disclaimer">
                © 2016 The Rec Room All Rights Reserved
            </div>
        </footer>
            {% include "partials/global-footer-scripts.nunjucks" %}
            <script>
    jQuery(document).ready(function() {
        // init select 2
        jQuery(".select-box").select2();
        // boostrap ui slider
        jQuery('.ui-slider').slider();
        // boostrap date picker
        jQuery('#datetimepicker1').datetimepicker();
        // owl carousel
            var owl = $("#carousel-slide");
            owl.owlCarousel({
              items : 2,
              itemsDesktop : [1199,3],
              itemsDesktopSmall : [979,3],
            });
            // Custom Navigation Events
            jQuery(".slide-carousel-next").click(function(){
            owl.trigger('owl.next');
            });
            jQuery(".slide-carousel-prev").click(function(){
            owl.trigger('owl.prev');
            });
            jQuery(".vertical-slider").mb_vSlider({ //default attributes of the mb.vSlider
                easing:"easeOutExpo"
                ,slideTimer:1000
                ,nextEl:".vSnext"
                ,prevEl:".vSprev"
                ,height:420
                ,width:280
            });
    });
</script>
{% endblock %}
